{% extends "layout.html" %}
{% block content %}

  <div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="file-upload2">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
        Go back to upload product list</a>
  </div>

  <h1><span class="nhsuk-caption-l">
     <span id="request-date">October 2023</span> - 4th request
     <span class="nhsuk-u-visually-hidden"> for </span>
   </span>Upload complete</h1>
  <div class="nhsuk-width-container">


   <p>The product list has been uploaded successfully.</p>

<!--          <a class="nhsuk-button nhsuk-u-margin-top-4" href="/view-prototype4/file-upload3">Next</a>-->
      <a class="nhsuk-button nhsuk-u-margin-top-4" href="../product-list/supplier-contact" onclick="saveAndExit()">Continue to request dashboard</a>

  </div>


<script>
    function saveAndExit() {
      localStorage.setItem("save-and-exit", "yes");
      localStorage.setItem("upload-confirmation", "yes");
    }

    let requestDate = document.getElementById("request-date");
        var monthNames = ["January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"];

        var d = new Date();
        var dayToday = d.getDate();
        var monthToday = monthNames[d.getMonth()];
        var yearToday = d.getFullYear();

        requestDate.innerHTML = monthToday + ' ' + yearToday;

</script>
{% endblock %}