{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection - dropdown table
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="/pcp-prototype-version-3/supplier-area/edit-main-suppliers">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to edit main supplier details</a>
</div>

<div class="nhsuk-width-container">
    <!--    <div class="nhsuk-grid-row">-->
    <!--        <div class="nhsuk-grid-column-full">-->


    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
        <div class="nhsuk-width-container">

            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
                        <span class="nhsuk-caption-l">
  Add a new main supplier
</span>
                        <h1 class="nhsuk-fieldset__heading">
                            Do you want to add another supplier contact?
                        </h1>
                    </legend>

                    <div class="nhsuk-radios">

                        <div class="nhsuk-radios__item nhsuk-u-margin-bottom-4">
                            <input class="nhsuk-radios__input" id="link1" name="example-hints" type="radio" value="yes" aria-describedby="example-hints-1-item-hint">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
                                <strong>Yes</strong>
                            </label>
                            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                                This will allow you to add another contact.
                            </div>
                        </div>

                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="link2" name="example-hints" type="radio" value="no" aria-describedby="example-hints-2-item-hint">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                                <strong>No</strong>
                            </label>
                            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
                                You will proceed to a final review before saving the supplier details.
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
            <a class="nhsuk-button" href="/pcp-prototype-version-3/supplier-area/add-contact" id="continue-button"
             onclick="redirectToNewContact()" >Save and continue</a>

        </div>
    </main>
</div>


    <script>
function redirectToNewContact() {
    let radioButtons = document.getElementsByName("example-hints");

    for (var radio of radioButtons) {
      if (radio.checked) {
       if (radio.value == 'yes') {
          document.getElementById("continue-button").href = "/pcp-prototype-version-3/supplier-area/add-another-contact";
       }
       if (radio.value == 'no') {
          document.getElementById("continue-button").href = "/pcp-prototype-version-3/supplier-area/supplier-info-updated";
       }
      }
    }
  };
<!--        const link1Radio = document.getElementById("link1");-->
<!--        const link2Radio = document.getElementById("link2");-->


<!--        link1Radio.addEventListener("change", function () {-->
<!--            if (link1Radio.checked) {-->

<!--                window.location.href = "/pcp-prototype-version-3/supplier-area/add-another-contact";-->
<!--            }-->
<!--        });-->

<!--        link2Radio.addEventListener("change", function () {-->
<!--            if (link2Radio.checked) {-->
<!--                // Redirect to Page 2 when the radio button is selected-->
<!--                window.location.href = "/pcp-prototype-version-3/supplier-area/supplier-info-updated";-->
<!--            }-->
<!--        });-->
    </script>
{% endblock %}