{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection - dropdown table
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="/pcp-prototype-version-3/supplier-area/main-supplier-directory">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
             aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to Main supplier directory</a>
</div>

<div class="nhsuk-width-container">
    <!--    <div class="nhsuk-grid-row">-->
    <!--        <div class="nhsuk-grid-column-full">-->

    <h1>

    </h1>


    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
        <div class="nhsuk-width-container">

            <h1>Additional supplier details
            </h1>
            <table class="nhsuk-table">
                <caption class="nhsuk-table__caption"></caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <h2></h2>
                    <th role="columnheader" class="" scope="col">
                        Suppliers name
                    </th>
                </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">AAH Pharmaceuticals Ltd</td>

                </tr>

                </tbody>
            </table>

            <table class="nhsuk-table">
                <caption class="nhsuk-table__caption">Contacts</caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                        Name
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Email
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Status
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Action
                    </th>
                </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">John Smith</td>
                    <td class="nhsuk-table__cell ">john.smith@nhs.net</td>
                    <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Active</strong></td>
                    <td class="nhsuk-table__cell "><a class="nhsuk-link nhsuk-link--no-visited-state"
                                                      href="/pcp-prototype-version-3/supplier-area/edit-main-suppliers">
                        Edit or remove<span class="nhsuk-u-visually-hidden"> user</span></a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Ann Other</td>
                    <td class="nhsuk-table__cell ">ann.other@nhs.net</td>
                    <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Active</strong></td>
                    <td class="nhsuk-table__cell "><a class="nhsuk-link nhsuk-link--no-visited-state" href="#">
                        Edit or remove<span class="nhsuk-u-visually-hidden"> user</span></a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Sam Wannelse</td>
                    <td class="nhsuk-table__cell ">sam.wannelse.net</td>
                    <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Inactive</strong></td>
                    <td class="nhsuk-table__cell "><a class="nhsuk-link nhsuk-link--no-visited-state" href="#">
                        Edit or remove
                        <span class="nhsuk-u-visually-hidden"> user</span></a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </main>


</div>

<script>
    console.log(localStorage);

</script>
{% endblock %}