{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-5" href="supplier-contact">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to request dashboard</a>
</div>

        <h1><span class="nhsuk-caption-l">
     <span id="request-date">October 2023</span> - fourth request
     <span class="nhsuk-u-visually-hidden">: </span>
   </span>
            Additional suppliers
        </h1>

<h2>Additional suppliers in group email</h2>
<p>View suppliers who have received the group email, as well as group reminders sent. Use this area to log replies from suppliers who have been sent the group email.</p>
<ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-margin-bottom-6">
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card-clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48">4</span>
                  <br>
                  <a class="nhsuk-card__link nhsuk-link--no-visited-state" id="access-additional-suppliers"
                     href="additional-suppliers-included">Additional suppliers in group email</a>
                </span>
                </h2>

            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48" id="templates-sent-additional">0</span>
                  <br>
                  Templates sent
                </span>
                </h2>

            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48" id="replies-received-add">0</span>
                  <br>
                  Replies received
                </span>
                </h2>

            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48" id="reminders-sent-add">0</span>
                  <br>
                  Suppliers sent reminders
                </span>
                </h2>

            </div>
        </div>

    </li>
</ul>

<h2>Additional suppliers manual contact</h2>
<p>View suppliers who need to be contacted individually. Use this area to log templates sent to suppliers manually, as well as reminders sent and replies received.</p>
<ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card-clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48">3</span>
                  <br>
                  <a class="nhsuk-card__link nhsuk-link--no-visited-state" id="access-additional-suppliers-manual"
                     href="additional-suppliers-excluded">Additional suppliers manual contact</a>
                </span>
                </h2>

            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48" id="templates-sent-additional-manual">0</span>
                  <br>
                  Templates sent
                </span>
                </h2>

            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48" id="replies-received-add-manual">0</span>
                  <br>
                  Replies received
                </span>
                </h2>

            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48" id="reminders-sent-add-manual">0</span>
                  <br>
                  Suppliers sent reminders
                </span>
                </h2>

            </div>
        </div>

    </li>
</ul>

<!--    <ul class="nhsuk-grid-row nhsuk-card-group">-->
<!--        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">-->

<!--            <div class="nhsuk-card nhsuk-card&#45;&#45;clickable">-->
<!--                <div class="nhsuk-card__content">-->
<!--                    <h2 class="nhsuk-card__heading nhsuk-heading-m">-->
<!--                        <a class="nhsuk-card__link nhsuk-link&#45;&#45;no-visited-state" href="additional-suppliers-included">Additional suppliers in group email</a>-->
<!--                    </h2>-->
<!--                    <p class="nhsuk-card__description">View suppliers who have received the group email, as well as group reminders sent. Use this area to log replies from suppliers who have been sent the group email.</p>-->
<!--                </div>-->
<!--            </div>-->

<!--        </li>-->
<!--        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">-->

<!--            <div class="nhsuk-card nhsuk-card&#45;&#45;clickable">-->
<!--                <div class="nhsuk-card__content">-->
<!--                    <h2 class="nhsuk-card__heading nhsuk-heading-m">-->
<!--                        <a class="nhsuk-card__link nhsuk-link&#45;&#45;no-visited-state" href="additional-suppliers-excluded">Additional suppliers manual contact</a>-->
<!--                    </h2>-->
<!--                    <p class="nhsuk-card__description">View suppliers who need to be contacted individually. Use this area to log templates sent to suppliers manually, as well as reminders sent and replies received.</p>-->

<!--                </div>-->
<!--            </div>-->

<!--        </li>-->
<!--    </ul>-->
<script>
    console.log(localStorage);

    let dateEmailSentAdd = localStorage.getItem("has-sent-email-additional");
    let dateReplyReceivedAdd = localStorage.getItem("supplier-has-replied-additional");
    let dateReplyReceivedManualAdd = localStorage.getItem("supplier-has-replied-manual-additional");

    let dateSent = new Date();

    var shortMonth =  ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];

    let day = dateSent.getDate();
    let month = dateSent.getMonth();
    let year = dateSent.getFullYear();

    if (day < 10) day = '0' + day;
    if (month < 10) month = '0' + month;

    let currentDate = `${day} ${shortMonth[month]} ${year}`;
    console.log(shortMonth[month]);

        let requestDate = document.getElementById("request-date");
        var monthNames = ["January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"];

        var d = new Date();
        var dayToday = d.getDate();
        var monthToday = monthNames[d.getMonth()];
        var yearToday = d.getFullYear();

        requestDate.innerHTML = monthToday + ' ' + yearToday;

     if (localStorage.getItem("group-email-sent-additional")) {
       document.getElementById("templates-sent-additional").innerHTML = '4';
    }
    if (localStorage.getItem("has-sent-email-manual-additional") == "yes") {
       document.getElementById("templates-sent-additional-manual").innerHTML = '1';
    }

    if (dateReplyReceivedAdd == "yes") {
       document.getElementById("replies-received-add").innerHTML = '1';
    }
    if (dateReplyReceivedManualAdd == "yes") {
      document.getElementById("replies-received-add-manual").innerHTML = '1';
    }

    if (localStorage.getItem("reminder-one-sent-additional")) {
       document.getElementById("reminders-sent-add-manual").innerHTML = '1';
    }

</script>

{% endblock %}