{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-5" href="supplier-contact">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to request dashboard</a>
</div>

        <h1><span class="nhsuk-caption-l">
     <span id="request-date">October 2023</span> - fourth request
     <span class="nhsuk-u-visually-hidden">: </span>
   </span>
            Main suppliers
        </h1>

    <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content nhsuk-card__content--primary">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="#">Main suppliers included in the group email</a>
                    </h2>
                    <p class="nhsuk-card__description">Log replies from main suppliers included in the group email.</p>

                    <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                        <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                        <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                            <path d="M15.438 13l-3.771 3.771" />
                            <path data-name="Path" d="M11.667 9.229L15.438 13" />
                        </g>
                    </svg>

                </div>
            </div>

        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content nhsuk-card__content--primary">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="#">Main suppliers excluded from the group email</a>
                    </h2>
                    <p class="nhsuk-card__description">Download templates to send to main suppliers excluded from the group email. Also, you can log the sending on this template, as well as any reminders sent and replies received.</p>

                    <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                        <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                        <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                            <path d="M15.438 13l-3.771 3.771" />
                            <path data-name="Path" d="M11.667 9.229L15.438 13" />
                        </g>
                    </svg>

                </div>
            </div>

        </li>
    </ul>
<script>
    console.log(localStorage);

    let dateEmailSent = localStorage.getItem("has-sent-email");
    let dateReplyReceived = localStorage.getItem("supplier-has-replied");
    let dateReplyReceivedManual = localStorage.getItem("supplier-has-replied-manual");
    let dateSent = new Date();

    var shortMonth =  ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];

    let day = dateSent.getDate();
    let month = dateSent.getMonth();
    let year = dateSent.getFullYear();

    if (day < 10) day = '0' + day;
    if (month < 10) month = '0' + month;

    let currentDate = `${day} ${shortMonth[month]} ${year}`;
    console.log(shortMonth[month]);

<!--    if (dateEmailSent == "yes") {-->
<!--       document.getElementById("date-sent").innerHTML = currentDate;-->
<!--       if (document.getElementById("hidden-sent")) {-->
<!--       document.getElementById("hidden-sent").style.display = "none";-->
<!--       }-->
<!--    }-->

    if (dateReplyReceived == "yes") {
       document.getElementById("reply-in").innerHTML = currentDate;
       document.getElementById("supplier-update").innerHTML = 'View';
       if (document.getElementById("hidden-reply")) {
       document.getElementById("hidden-reply").style.display = "none";
       }
    }

    if (dateReplyReceivedManual == "yes") {
       document.getElementById("reply-in-manual").innerHTML = currentDate;
       document.getElementById("supplier-update-manual").innerHTML = 'View';
       if (document.getElementById("hidden-reply-5")) {
       document.getElementById("hidden-reply-5").style.display = "none";
       }
    }

    if (localStorage.getItem("group-email-sent") == "yes") {
        document.getElementById("hidden-sent").textContent = currentDate;
        document.getElementById("hidden-sent-3").textContent = currentDate;
        document.getElementById("hidden-sent-4").textContent = currentDate;
        document.getElementById("hidden-sent-2").textContent = currentDate;
        document.getElementById("hidden-sent").classList.remove("nhsuk-u-visually-hidden");
        document.getElementById("hidden-sent-3").classList.remove("nhsuk-u-visually-hidden");
        document.getElementById("hidden-sent-4").classList.remove("nhsuk-u-visually-hidden");
        document.getElementById("hidden-sent-2").classList.remove("nhsuk-u-visually-hidden");
    }

    if (localStorage.getItem("has-sent-email-manual") == "yes") {
        document.getElementById("hidden-sent-5").textContent = currentDate;
        document.getElementById("hidden-sent-5").classList.remove("nhsuk-u-visually-hidden");
    }

    if (localStorage.getItem("reminder-one-sent") == "yes" && (!localStorage.getItem("reminder-two-sent") || localStorage.getItem("reminder-two-sent") == "no")) {
       document.getElementById("reminder-number").textContent = "1";
       document.getElementById("last-reminder").textContent = currentDate;
    } else if (localStorage.getItem("reminder-one-sent") == "yes" && localStorage.getItem("reminder-two-sent") == "yes") {
       document.getElementById("reminder-number").textContent = "2";
       document.getElementById("last-reminder").textContent = currentDate;
    }

        let requestDate = document.getElementById("request-date");
        var monthNames = ["January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"];

        var d = new Date();
        var dayToday = d.getDate();
        var monthToday = monthNames[d.getMonth()];
        var yearToday = d.getFullYear();

        requestDate.innerHTML = monthToday + ' ' + yearToday;



</script>

{% endblock %}