{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-5" href="supplier-contact">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to request dashboard</a>
</div>

        <h1><span class="nhsuk-caption-l">
     <span id="request-date">October 2023</span> - fourth request
     <span class="nhsuk-u-visually-hidden">: </span>
   </span>
            Supplier deadline
        </h1>

<div class="nhsuk-form-group">

    <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h2 class="nhsuk-fieldset__heading">
                What is the time of the supplier deadline?
            </h2>
        </legend>

        <div class="nhsuk-hint nhsuk-u-margin-bottom-4">
            The current supplier deadline time is set to 5pm.
        </div>

        <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="12pm">
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                    12pm
                </label>
            </div>

            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="5pm" checked="checked">
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                    5pm
                </label>
            </div>

        </div>
    </fieldset>

</div>

<a class="nhsuk-button nhsuk-u-margin-top-4" href="supplier-contact" id="continue-button"
   onclick="saveNewTime()">Save and finish</a>

<script>
    let radioButtons = document.getElementsByName("example");

    for (var radio of radioButtons) {
       if (radio.value === localStorage.getItem("time-of-deadline")) {
          radio.checked = true;
      }
    }

    function saveNewTime() {
    let radioButtons = document.getElementsByName("example");

    for (var radio of radioButtons) {
      if (radio.checked) {
          localStorage.setItem("time-of-deadline", radio.value);
      }
    }
  };

</script>

{% endblock %}