{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block navContent %}

<ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="/pcp-prototype/request-list">Request list</a>
    </li>
</ol>
<p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="/pcp-prototype/homepage">
        <span class="nhsuk-u-visually-hidden">Home</span>
        Home
    </a>
</p>

{% endblock %}

{% block content %}


<div class="nhsuk-width-container ">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <h1>
                Historical request
            </h1>
<h2>Choose the year you require</h2>
            <ul class="nhsuk-grid-row nhsuk-card-group">
                <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-l">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="/pcp-prototype/historical-requests-months">2016</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-l">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="/pcp-prototype/historical-requests-months">2017</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-l">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="/pcp-prototype/historical-requests-months">2018</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-l">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="/pcp-prototype/historical-requests-months">2019</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-l">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="/pcp-prototype/historical-requests-months">2020</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-l">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="/pcp-prototype/historical-requests-months">2021</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-l">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="/pcp-prototype/historical-requests-months">2022</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-l">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="/pcp-prototype/historical-requests-months">2023</a>
                            </h2>

                        </div>
                    </div>

                </li>
            </ul>


        </div>
    </div>
</div>
{% endblock %}