{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block navContent %}

<ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="/pcp-prototype/request-list">Request-list</a>
    </li>
</ol>
<p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="/pcp-prototype/homepage">
        <span class="nhsuk-u-visually-hidden">Home</span>
        Home
    </a>
</p>

{% endblock %}

{% block content %}


<div class="nhsuk-width-container ">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <h1>
                2023
            </h1>

            <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h2 class="nhsuk-fieldset__heading">
                        Choose the required month
                    </h2>
                </legend>

                <div class="nhsuk-form-group"  >

                    <div class="nhsuk-radios">

                        <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
                        <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input"  id="example-hints-1" name="example-hints" type="radio"  value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
                                January
                            </label>
                        </div>
                        </div>

                        <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                            <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                                February
                            </label>
                        </div>
                        </div>

                        <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                                March
                            </label>
                        </div>
                        </div>

                        <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                                April
                            </label>
                        </div>
                        </div>
                        </div>

                        <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
                        <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                                May
                            </label>
                        </div>
                        </div>

                        <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                                June
                            </label>
                        </div>
                        </div>

                        <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                                July
                            </label>
                        </div>
                        </div>

                        <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                               August
                            </label>
                        </div>
                        </div>
                        </div>
                        <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
                        <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                            <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                            September
                        </label>
                    </div>
                        </div>

                        <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                        <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                            October
                        </label>
                    </div>
                        </div>

                        <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                        <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                            November
                        </label>
                    </div>
                        </div>

                        <div class="nhsuk-grid-column-one-quarter">
                        <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                            December
                        </label>
                    </div>
                        </div>
                        </div>
                    </div>
                    </div>


            </fieldset>
            <a class="nhsuk-button" href="/pcp-prototype/option-2-historical">
                <span class="nhsuk-u-visually-hidden">Home</span>
                Select
            </a>
        </div>
    </div>
</div>
{% endblock %}