{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection - dropdown table
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

<h1>
    Price concessions homepage
</h1>


<ul class="nhsuk-grid-row nhsuk-card-group">

    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                    <a class="nhsuk-card__link" href="/pcp-prototype/request-list">Requests</a>
                </h5>

            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                    <a class="nhsuk-card__link" href="#">Suppliers</a>
                </h5>

            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                    <a class="nhsuk-card__link" href="#">Returns</a>
                </h5>

            </div>
        </div>

    </li>

    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                    <a class="nhsuk-card__link" href="#">Record of concessions</a>
                </h5>

            </div>
        </div>

    </li>

    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                    <a class="nhsuk-card__link" href="#">Trend data</a>
                </h5>

            </div>
        </div>

    </li>

    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                    <a class="nhsuk-card__link" href="#">Help</a>
                </h5>

            </div>
        </div>

    </li>
</ul>

        </div>
    </div>
</div>
{% endblock %}