{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection - dropdown table
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
<!--    <div class="nhsuk-grid-row">-->
<!--        <div class="nhsuk-grid-column-full">-->

<h1>
    Price concessions homepage
</h1>


<ul class="nhsuk-grid-row nhsuk-card-group">

    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="request-list">Requests</a>
                </h2>
                <p class="nhsuk-card__description">Create a new request or view a list of ongoing or historical requests.</p>
            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">Suppliers</a>
                </h2>
                <p class="nhsuk-card__description">View, edit or delete a supplier.</p>
            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">Returns</a>
                </h2>
                <p class="nhsuk-card__description">A list of returns</p>
            </div>
        </div>

    </li>

    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">Record of concessions</a>
                </h2>
                <p class="nhsuk-card__description">View a record of concessions.</p>
            </div>
        </div>

    </li>

    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">Trend data</a>
                </h2>
                <p class="nhsuk-card__description">View trend data by month.</p>
            </div>
        </div>

    </li>

    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">Help</a>
                </h2>
                <p class="nhsuk-card__description">Visit user guides for additional assistance.</p>
            </div>
        </div>

    </li>
</ul>

        </div>
{% endblock %}