{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block navContent %}

<ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="/pcp-prototype/homepage">Home</a>
    </li>
</ol>
<p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="/pcp-prototype/homepage">
        <span class="nhsuk-u-visually-hidden">Home</span>
        Home
    </a>
</p>

{% endblock %}

{% block content %}


<div class="nhsuk-width-container ">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <h1>
                Options page
            </h1>
<h2>Search for dates styles </h2>
            <p>By clicking on the below cards you can view different options to present date searches
            </p>

            <ul class="nhsuk-grid-row nhsuk-card-group">

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                                <a class="nhsuk-card__link" href="/pcp-prototype/historical-requests">Option one</a>
                                <P>using clickable cards to select the years and months </P>
                            </h5>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                                <a class="nhsuk-card__link" href="/pcp-prototype/option-2-historical">Option two</a>
                                <P>using radio buttons to select the years present to passed/month. and the results on its own page with breadcrumbs for Navigation back  </P>
                            </h5>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                                <a class="nhsuk-card__link" href="/pcp-prototype/option-3-historical-search">Option three</a>
                                <P>using radio buttons to select the years from passed to present /month </P>
                            </h5>

                        </div>
                    </div>

                </li>

            </ul>

        </div>
    </div>
</div>
{% endblock %}