{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block navContent %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="homepage">Price concessions homepage</a></li>

        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Level three
            </a>
        </p>
    </div>
</nav>

<!--        <ol class="nhsuk-breadcrumb__list">-->
<!--            <li class="nhsuk-breadcrumb__item">-->
<!--                <a class="nhsuk-breadcrumb__link" href="/pcp-prototype/homepage">Home</a>-->
<!--            </li>-->
<!--        </ol>-->
<!--        <p class="nhsuk-breadcrumb__back">-->
<!--            <a class="nhsuk-breadcrumb__backlink" href="/pcp-prototype/homepage">-->
<!--                <span class="nhsuk-u-visually-hidden">Home</span>-->
<!--                Home-->
<!--            </a>-->
<!--        </p>-->

{% endblock %}

{% block content %}


<div class="nhsuk-width-container ">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <h1>
                Requests
            </h1>


            <ul class="nhsuk-grid-row nhsuk-card-group">
                <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="/pcp-prototype/new-request/current-requests">Ongoing and new requests</a>
                            </h2>
                            <p class="nhsuk-card__description">View completed or ongoing requests from this month, or start a new request.</p>

                        </div>
                    </div>

                </li>

<!--                <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">-->

<!--                    <div class="nhsuk-card nhsuk-card&#45;&#45;clickable">-->
<!--                        <div class="nhsuk-card__content">-->
<!--                            <h2 class="nhsuk-card__heading nhsuk-heading-m">-->

<!--                                <a class="nhsuk-card__link nhsuk-link&#45;&#45;no-visited-state" href="/pcp-prototype/request-list">Ongoing requests</a>-->
<!--                            </h2>-->

<!--                        </div>-->
<!--                    </div>-->

<!--                </li>-->
                <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="historical-requests/option-page">Historical requests</a>
                            </h2>
                            <p class="nhsuk-card__description">Defined as any completed request from the previous month or before.</p>

                        </div>
                    </div>

                </li>

            </ul>

        </div>
    </div>
</div>
{% endblock %}