{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection - dropdown table
{% endblock %}

{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-5">

    <a class="nhsuk-back-link__link" href="user-type">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to detail the user role</a>
</div>

<div class="nhsuk-width-container">
<!--    <div class="nhsuk-grid-row">-->
<!--        <div class="nhsuk-grid-column-full">-->

<h1>
    Review user information
</h1>
    <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                First name
            </dt>
            <dd class="nhsuk-summary-list__value">
                Matthew
            </dd>

            <dd class="nhsuk-summary-list__actions">

                <a href="forename">
                    Change<span class="nhsuk-u-visually-hidden"> surname</span>
                </a>

            </dd>

        </div>

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Last name
            </dt>
            <dd class="nhsuk-summary-list__value">
                Proctor-Leake
            </dd>

            <dd class="nhsuk-summary-list__actions">

                <a href="surname">
                    Change<span class="nhsuk-u-visually-hidden"> forename</span>
                </a>

            </dd>

        </div>

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Email
            </dt>
            <dd class="nhsuk-summary-list__value">
                matthew.proctor-leake@nhsbsa.nhs.uk
            </dd>

            <dd class="nhsuk-summary-list__actions">

                <a href="email">
                    Change<span class="nhsuk-u-visually-hidden"> email</span>
                </a>

            </dd>

        </div>

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                User type
            </dt>
            <dd class="nhsuk-summary-list__value">
                Administrator
            </dd>

            <dd class="nhsuk-summary-list__actions">

                <a href="user-type">
                    Change<span class="nhsuk-u-visually-hidden"> user type</span>
                </a>

            </dd>

        </div>

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Status
            </dt>
            <dd class="nhsuk-summary-list__value">
                <span class="nhsuk-tag">Active</span>
            </dd>

            <dd class="nhsuk-summary-list__actions">

                <a href="status">
                    Change<span class="nhsuk-u-visually-hidden"> status</span>
                </a>

            </dd>

        </div>

    </dl>
    <a class="nhsuk-button" href="../account-area-all" onclick="removeSummary()">Save and return to user accounts</a>
</div>
<script>
    localStorage.setItem("new-user-summary", "yes");
    console.log(localStorage);

    function removeSummary() {
      localStorage.removeItem("new-user-summary");
      localStorage.setItem("new-user-added", "yes");
    }

</script>
{% endblock %}