{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection - dropdown table
{% endblock %}

{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-9">

    <a class="nhsuk-back-link__link" href="edit-contacts">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
             aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to edit supplier contact information</a>
</div>


    <div class="nhsuk-width-container">

            <h1>
                Edit supplier contact - email address
            </h1>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="input-width-20">Email</label>
                <input class="nhsuk-input nhsuk-u-margin-bottom-4" id="input-width-20" name="test-width-20" type="text">

            </div>

            <a class="nhsuk-button" data-module="nhsuk-button" id="continue-button" href="edit-contacts">
                Save and continue
            </a>

    </div>


<script>
    console.log(localStorage);

    if (localStorage.getItem("email") === "john.smith@nhs.net") {
            document.getElementById("input-width-20").value = "john.smith@nhs.net";
        }

</script>
{% endblock %}