{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection - dropdown table
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="../../supplier-info" id="back-link">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to AAH Pharmaceuticals Ltd</a>
</div>

<div class="nhsuk-width-container">

    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
                        <h1>
                            Edit supplier contact information
                        </h1>

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-three-quarters">
                            <h2>John Smith</h2>
                        </div>
                        <div class="nhsuk-grid-column-one-quarter nhsuk-u-padding-right-0" >
                            <a class="govuk-button govuk-button--warning remove-button" href="remove-contact">
                                Remove contact
                            </a>
                        </div>
                    </div>

                    <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-9">

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                First name
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                John
                            </dd>

                            <dd class="nhsuk-summary-list__actions">

                                <a href="contact-first-name" onclick="addJohn()">
                                    Edit <span class="nhsuk-u-visually-hidden"> first name</span>
                                </a>

                            </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Last name
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Smith
                            </dd>

                            <dd class="nhsuk-summary-list__actions">

                                <a href="contact-last-name" onclick="addSmith()">
                                    Edit <span class="nhsuk-u-visually-hidden"> last name</span>
                                </a>

                            </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Email
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                john.smith@nhs.net
                            </dd>

                            <dd class="nhsuk-summary-list__actions">

                                <a href="contact-email" onclick="addEmail()">
                                    Edit <span class="nhsuk-u-visually-hidden"> email</span>
                                </a>

                            </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Phone number
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                <p>0800 1234567</p>
                            </dd>

                            <dd class="nhsuk-summary-list__actions">

                                <a href="contact-phone" onclick="addPhone()">
                                    Edit <span class="nhsuk-u-visually-hidden"> phone number</span>
                                </a>

                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Status
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                <strong class="nhsuk-tag">Active</strong>
                            </dd>

                            <dd class="nhsuk-summary-list__actions">

                                <a href="contact-status" onclick="addStatus()">
                                    Edit <span class="nhsuk-u-visually-hidden"> status </span>
                                </a>

                            </dd>

                        </div>

                    </dl>


                    <div id="second-contact">

                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-three-quarters">
                                <h2>Ann Other</h2>
                            </div>
                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-padding-right-0" >
                                <a class="govuk-button govuk-button--warning remove-button">
                                    Remove contact
                                </a>
                            </div>
                        </div>

                        <dl class="nhsuk-summary-list">

                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    First name
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    Jane
                                </dd>

                                <dd class="nhsuk-summary-list__actions">

                                    <a href="#">
                                        Edit <span class="nhsuk-u-visually-hidden"> first name</span>
                                    </a>

                                </dd>

                            </div>

                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    Last name
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    Smith
                                </dd>

                                <dd class="nhsuk-summary-list__actions">

                                    <a href="#">
                                        Edit <span class="nhsuk-u-visually-hidden"> last name</span>
                                    </a>

                                </dd>

                            </div>

                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    Email
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    jane.smith@nhs.net
                                </dd>

                                <dd class="nhsuk-summary-list__actions">

                                    <a href="#">
                                        Edit <span class="nhsuk-u-visually-hidden"> email</span>
                                    </a>

                                </dd>

                            </div>

                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    Phone number
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    <p>None</p>
                                </dd>

                                <dd class="nhsuk-summary-list__actions">

                                    <a href="#">
                                        Edit <span class="nhsuk-u-visually-hidden"> phone number</span>
                                    </a>

                                </dd>

                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    Status
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    <strong class="nhsuk-tag">Active</strong>
                                </dd>

                                <dd class="nhsuk-summary-list__actions">

                                    <a href="add-contact-phone" onclick="addPhone()">
                                        Edit <span class="nhsuk-u-visually-hidden"> status </span>
                                    </a>

                                </dd>

                            </div>

                        </dl>
                    </div>

                    <div id="third-contact">

                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-three-quarters">
                                <h2>Sam Wannelse</h2>
                            </div>
                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-padding-right-0" >
                                <a class="govuk-button govuk-button--warning remove-button">
                                    Remove contact
                                </a>
                            </div>
                        </div>

                        <dl class="nhsuk-summary-list">

                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    First name
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    Sam
                                </dd>

                                <dd class="nhsuk-summary-list__actions">

                                    <a href="#">
                                        Edit <span class="nhsuk-u-visually-hidden"> first name</span>
                                    </a>

                                </dd>

                            </div>

                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    Last name
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    Wannelse
                                </dd>

                                <dd class="nhsuk-summary-list__actions">

                                    <a href="#">
                                        Edit <span class="nhsuk-u-visually-hidden"> last name</span>
                                    </a>

                                </dd>

                            </div>

                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    Email
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    sam.wannelse@nhsbsa.nhs.uk
                                </dd>

                                <dd class="nhsuk-summary-list__actions">

                                    <a href="#">
                                        Edit <span class="nhsuk-u-visually-hidden"> email</span>
                                    </a>

                                </dd>

                            </div>

                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    Phone number
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    <p>	01234 567899</p>
                                </dd>

                                <dd class="nhsuk-summary-list__actions">

                                    <a href="#">
                                        Edit <span class="nhsuk-u-visually-hidden"> phone number</span>
                                    </a>

                                </dd>

                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    Status
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    <strong class="nhsuk-tag nhsuk-tag--grey">Inactive</strong>
                                </dd>

                                <dd class="nhsuk-summary-list__actions">

                                    <a href="add-contact-phone" onclick="addPhone()">
                                        Edit <span class="nhsuk-u-visually-hidden"> status </span>
                                    </a>

                                </dd>

                            </div>

                        </dl>
                    </div>

                     <p>If you need to increase the number of contacts then you can <a href="add-contact-first-name" onclick="addContactFromList()">add a supplier contact</a></p>

        <a class="nhsuk-button nhsuk-u-margin-top-4" href="../../supplier-info" id="continue-button"
             onclick="redirectToNewContact()" >Save and return to supplier information</a>
    </main>
        </div>


    <script>
    window.onload = function() {
    if (localStorage.getItem("main-supplier-summary") == "yes") {
    document.getElementById("back-link").setAttribute('href', "supplier-info-updated");
    document.getElementById("back-link").innerHTML = "<svg class='nhsuk-icon nhsuk-icon__chevron-left' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' height='24' width='24'><path d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'></path></svg>Go back to confirm main supplier details";
       }
    };

    console.log(localStorage);

    if (localStorage.getItem("second-contact") === "yes") {
       document.getElementById("second-contact").classList.remove("nhsuk-u-visually-hidden");
    }

function redirectToNewContact() {
    let radioButtons = document.getElementsByName("example-hints");

    if (localStorage.getItem("main-supplier-summary") === "yes") {
      document.getElementById("continue-button").href = "supplier-info-updated";
    }

    for (var radio of radioButtons) {
      if (radio.checked) {
       if (radio.value == 'yes') {
          document.getElementById("continue-button").href = "/pcp-prototype-version-3/supplier-area/add-another-contact";
       }
       if (radio.value == 'no') {
          document.getElementById("continue-button").href = "/pcp-prototype-version-3/supplier-area/supplier-info-updated";
       }
      }
    }
  };

  localStorage.removeItem("first-name", "Joe");
  localStorage.removeItem("last-name", "Bloggs");
  localStorage.removeItem("email", "joe.bloggs@nhs.net");
  localStorage.removeItem("phone", "07700 900362");

   function addAnotherContact() {
     localStorage.setItem("second-contact", "yes");
   }

   function addJohn() {
     localStorage.setItem("first-name", "John");
   }

   function addSmith() {
     localStorage.setItem("last-name", "Smith");
   }

   function addEmail() {
     localStorage.setItem("email", "john.smith@nhs.net");
   }

   function addPhone() {
     localStorage.setItem("phone", "0800 1234567");
   }

   function addStatus() {
     localStorage.setItem("status", "active");
   }

   function addContactFromList() {
     localStorage.setItem("added-from-list", "yes");
   }


    </script>
{% endblock %}