{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection - dropdown table
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="/pcp-prototype-version-3/supplier-area/supplier-info">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to additional supplier details</a>
</div>

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
        <div class="nhsuk-width-container">

            <h1> Add additional notes
            </h1>

            <div class="nhsuk-form-group ">
                <label class="nhsuk-label" for="example">
                    Add a title for your note
                </label>
                <input class="nhsuk-input" id="example" name="example" type="text">
            </div>

            <div class="nhsuk-form-group ">
                <label class="nhsuk-label" for="example">
                    Add note
                </label>
                <div class="nhsuk-hint" id="example-hint">
                    You can add your notes in the text field below.
                </div>
                <textarea class="nhsuk-textarea nhsuk-u-margin-bottom-5" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
            </div>

            <a class="nhsuk-button" data-module="nhsuk-button" type="submit" href="/pcp-prototype-version-3/supplier-area/Supplier-info-second-note">
                Save and continue
            </a>

        </div>
    </main>


</div>

<script>
    console.log(localStorage);
</script>
{% endblock %}