{% extends "layout.html" %}
{% block content %}

  <div class="nhsuk-back-link nhsuk-u-margin-bottom-5">
    <a class="nhsuk-back-link__link" href="current-requests.html">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back to current requests</a>
  </div>

  <h1><span class="nhsuk-caption-l">
     September 2023 - 4th request
     <span class="nhsuk-u-visually-hidden"> for </span>
   </span>Upload the product list</h1>

  <p>The product list is the file that the Department of Heath and Social Care (DHSC) have sent. </p>
  <p>To provide the price concessions document, we will need a file upload. This should be in excel format. The largest size is 10 megabytes (MB).</p>


<!--    <label class="govuk-label" for="myFile">Upload a file</label>-->
<!--    <input class="govuk-file-upload" type="file" id="myFile" name="filename">-->

<div class="govuk-form-group">
  <label class="nhsuk-label" for="file-upload-1">
    Upload a file
  </label>
  <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
</div>

  <a class="nhsuk-button nhsuk-u-margin-top-6" href="file-upload2">Upload product list and continue</a>

{% endblock %}