{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection - dropdown table
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
<!--    <div class="nhsuk-grid-row">-->
<!--        <div class="nhsuk-grid-column-full">-->

<h1>
    Price Concessions homepage
</h1>


<ul class="nhsuk-grid-row nhsuk-card-group">

    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="login">Login</a>
                </h2>
                <p class="nhsuk-card__description">Log in as a user or administrator.</p>
            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="request-list">Requests</a>
                </h2>
                <p class="nhsuk-card__description">Create a new request or view ongoing or historical requests.</p>
            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="/pcp-prototype-version-3/supplier-area/supplier-select-page">Suppliers</a>
                </h2>
                <p class="nhsuk-card__description">View, edit or delete a supplier.</p>
            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">Responses</a>
                </h2>
                <p class="nhsuk-card__description">A list of responses.</p>
            </div>
        </div>

    </li>

    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">Record of Concessions (RoC)</a>
                </h2>
                <p class="nhsuk-card__description">View RoC.</p>
            </div>
        </div>

    </li>

    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">Trend data</a>
                </h2>
                <p class="nhsuk-card__description">View trend data by month.</p>
            </div>
        </div>

    </li>

    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">Help</a>
                </h2>
                <p class="nhsuk-card__description">Visit user guides for additional assistance.</p>
            </div>
        </div>

    </li>
</ul>

        </div>

<script>
    console.log(localStorage);
</script>
{% endblock %}