{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block navContent %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../homepage">Price concessions homepage</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../request-list">Requests</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../option-page">Options page</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Options page
            </a>
        </p>
    </div>
</nav>

<!--<ol class="nhsuk-breadcrumb__list">-->
<!--    <li class="nhsuk-breadcrumb__item">-->
<!--        <a class="nhsuk-breadcrumb__link" href="/pcp-prototype/request-list">Request-list</a>-->
<!--    </li>-->
<!--</ol>-->
<!--<p class="nhsuk-breadcrumb__back">-->
<!--    <a class="nhsuk-breadcrumb__backlink" href="/pcp-prototype/homepage">-->
<!--        <span class="nhsuk-u-visually-hidden">Home</span>-->
<!--        Home-->
<!--    </a>-->
<!--</p>-->

{% endblock %}

{% block content %}


<div class="nhsuk-width-container ">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <h1><span class="nhsuk-caption-l">
     Historical requests
     <span class="nhsuk-u-visually-hidden">: </span>
   </span>
                Select a year and month
            </h1>
            <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h2 class="nhsuk-fieldset__heading">
                        Select a year
                    </h2>
                </legend>


                    <div class="nhsuk-form-group nhsuk-u-margin-bottom-5">

                        <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div  class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input"  id="year-2016" name="year" type="radio"  value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="year-2016">
                                        2016
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div  class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input"  id="year-2017" name="year" type="radio"  value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="year-2017">
                                        2017
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div  class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input"  id="year-2018" name="year" type="radio"  value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="year-2018">
                                        2018
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="year-2019" name="year" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="year-2019">
                                        2019
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="year-2020" name="year" type="radio" value="2019">
                                    <label class="nhsuk-label nhsuk-radios__label" for="year-2020">
                                        2020
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="year-2021" name="year" type="radio" value="2018">
                                    <label class="nhsuk-label nhsuk-radios__label" for="year-2021">
                                        2021
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="year-2022" name="year" type="radio" value="2017">
                                    <label class="nhsuk-label nhsuk-radios__label" for="year-2022">
                                        2022
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="year-2023" name="year" type="radio" value="2016">
                                    <label class="nhsuk-label nhsuk-radios__label" for="year-2023">
                                        2023
                                    </label>
                                </div>
                            </div>
                        </div>
                            </div>


                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h2 class="nhsuk-fieldset__heading">
                        Select a month
                    </h2>
                </legend>

                        <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div  class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input"  id="month-jan" name="month" type="radio"  value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="month-jan">
                                        January
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="month-feb" name="month" type="radio" value="no">
                                    <label class="nhsuk-label nhsuk-radios__label" for="month-feb">
                                        February
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div  class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="month-mar" name="month" type="radio" value="not sure">
                                    <label class="nhsuk-label nhsuk-radios__label" for="month-mar">
                                        March
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div  class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="month-apr" name="month" type="radio" value="not sure">
                                    <label class="nhsuk-label nhsuk-radios__label" for="month-apr">
                                        April
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div  class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="month-may" name="month" type="radio" value="not sure">
                                    <label class="nhsuk-label nhsuk-radios__label" for="month-may">
                                        May
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div  class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="month-jun" name="month" type="radio" value="not sure">
                                    <label class="nhsuk-label nhsuk-radios__label" for="month-jun">
                                        June
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div  class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="month-jul" name="month" type="radio" value="not sure">
                                    <label class="nhsuk-label nhsuk-radios__label" for="month-jul">
                                        July
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div  class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="month-aug" name="month" type="radio" value="not sure">
                                    <label class="nhsuk-label nhsuk-radios__label" for="month-aug">
                                        August
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div  class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="month-sep" name="month" type="radio" value="not sure">
                                    <label class="nhsuk-label nhsuk-radios__label" for="month-sep">
                                        September
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div  class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="month-oct" name="month" type="radio" value="not sure">
                                    <label class="nhsuk-label nhsuk-radios__label" for="month-oct">
                                        October
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-bottom-3">
                                <div  class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="month-nov" name="month" type="radio" value="not sure">
                                    <label class="nhsuk-label nhsuk-radios__label" for="month-nov">
                                        November
                                    </label>
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-quarter">
                                <div  class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="month-dec" name="month" type="radio" value="not sure">
                                    <label class="nhsuk-label nhsuk-radios__label" for="month-dec">
                                        December
                                    </label>
                                </div>
                            </div>
                        </div>

            </fieldset>

            <a class="nhsuk-button nhsuk-u-margin-top-4" href="historical-result">
                <span class="nhsuk-u-visually-hidden">Home</span>
                Search
            </a>

        </div>
    </div>
</div>
{% endblock %}