{% extends 'layout.html' %}



{% block content %}

<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="/pcp-prototype-version-3/supplier-area/supplier-select-page">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to Supplier select page</a>
</div>
<div class="nhsuk-width-container">

    <main class="nhsuk-main-wrapper" id="maincontent" role="main">

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

                <h1>Main suppliers directory</h1>

                <div class="nhsuk-inset-text">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p>If you are missing a supplier you can <a href="/pcp-prototype-version-3/supplier-area/add-new-suppliers">add a new main supplier here</a></p>
                </div>

                <nav class="nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-4" id="nhsuk-nav-a-z" role="navigation" aria-label="A to Z Navigation">
                    <ol class="nhsuk-list nhsuk-u-clear nhsuk-u-margin-0" role="list">
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#A">A</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#B">B</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#C">C</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#D">D</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#E">E</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#F">F</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#G">G</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#H">H</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#I">I</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#J">J</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#K">K</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#L">L</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#M">M</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#N">N</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#O">O</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#P">P</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Q">Q</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#R">R</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#S">S</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#T">T</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#U">U</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#V">V</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#W">W</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#X">X</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Y">Y</a>
                        </li>
                        <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
                            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Z">Z</a>
                        </li>
                    </ol>
                </nav>

                <div class="nhsuk-card nhsuk-card--feature nhsuk-u-margin-bottom-5">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">
                            A

                        </h2>

                        <ul class='nhsuk-list nhsuk-list--border'>
                            <li><a href='/pcp-prototype-version-3/supplier-area/supplier-info'>AAH Pharmaceuticals Ltd</a></li>
                            <li><a href='company/astrazeneca'>Accord-UK Ltd</a></li>
                            <li><a href='company/astrazeneca'>Advanz Pharma</a></li>
                            <li><a href='company/astrazeneca'>Alliance Healthcare (Distribution)Ltd</a></li>
                            <li><a href='company/astrazeneca'>Aristo Pharma Ltd</a></li>
                            <li><a href='company/astrazeneca'>Aspire Pharma Ltd</a></li>
                            <li><a href='company/astrazeneca'>Aurobindo Pharma Ltd (Milpharm)</a></li>
                        </ul>
                    </div>
                </div>

                <div class="nhsuk-back-to-top">
                    <a class="nhsuk-back-to-top__link nhsuk-u-margin-top-0" href="#nhsuk-nav-a-z">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                        </svg>
                        Back to top
                    </a>
                </div>


                <div class="nhsuk-card nhsuk-card--feature nhsuk-u-margin-bottom-5">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">
                            B

                        </h2>
                        <ul class='nhsuk-list nhsuk-list--border'>
                            <li><a href='company/bristolmyers'>Bausch & Lomb</a></li>
                            <li><a href='company/bristolmyers'>Bristol Laboratories Ltd</a></li>
                            <li><a href='company/bristolmyers'>Brown & Burk UK Ltd</a></li>
                        </ul>
                    </div>
                </div>

                <div class="nhsuk-back-to-top">
                    <a class="nhsuk-back-to-top__link nhsuk-u-margin-top-0" href="#nhsuk-nav-a-z">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                        </svg>
                        Back to top
                    </a>
                </div>

                <div class="nhsuk-card nhsuk-card--feature nhsuk-u-margin-bottom-5">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">
                            C
                        </h2>
                        <ul class='nhsuk-list nhsuk-list--border'>
                            <li><a href='company/chisei'>Colorama Pharmaceuticals Ltd</a></li>
                            <li><a href='company/curium'>Consilient Health Ltd</a></li>
                            <li><a href='company/curium'>Crescent Pharma Ltd</a></li>
                        </ul>
                    </div>
                </div>

                <div class="nhsuk-back-to-top">
                    <a class="nhsuk-back-to-top__link nhsuk-u-margin-top-0" href="#nhsuk-nav-a-z">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                        </svg>
                        Back to top
                    </a>
                </div>

                <div class="nhsuk-card nhsuk-card--feature nhsuk-u-margin-bottom-5">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">
                            D


                        </h2>
                        <ul class='nhsuk-list nhsuk-list--border'>
                            <li><a href='company/chisei'>Dexcel-Pharma Ltd</a></li>
                            <li><a href='company/chisei'>Dr Reddy's Laboratories (UK)Ltd</a></li>
                        </ul>
                    </div>
                </div>

                <div class="nhsuk-back-to-top">
                    <a class="nhsuk-back-to-top__link nhsuk-u-margin-top-0" href="#nhsuk-nav-a-z">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                        </svg>
                        Back to top
                    </a>
                </div>

                <div class="nhsuk-card nhsuk-card--feature nhsuk-u-margin-bottom-5">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">
                            E


                        </h2>
                        <ul class='nhsuk-list nhsuk-list--border'>
                            <li><a href='company/chisei'>Ethigen Ltd</a></li>
                        </ul>
                    </div>
                </div>

                <div class="nhsuk-back-to-top">
                    <a class="nhsuk-back-to-top__link nhsuk-u-margin-top-0" href="#nhsuk-nav-a-z">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                        </svg>
                        Back to top
                    </a>
                </div>

                <div class="nhsuk-card nhsuk-card--feature nhsuk-u-margin-bottom-5">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="F">
                            F


                        </h2>
                        <ul class='nhsuk-list nhsuk-list--border'>
                            <li>There are currently no suppliers listed. </li>
                        </ul>
                    </div>
                </div>

                <div class="nhsuk-back-to-top">
                    <a class="nhsuk-back-to-top__link nhsuk-u-margin-top-0" href="#nhsuk-nav-a-z">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                        </svg>
                        Back to top
                    </a>
                </div>

                <div class="nhsuk-card nhsuk-card--feature nhsuk-u-margin-bottom-5">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="G">
                            G


                        </h2>
                        <ul class='nhsuk-list nhsuk-list--border'>
                            <li><a href='company/chisei'>Genesis Pharmaceuticals Ltd
                            </a></li>
                        </ul>
                    </div>
                </div>

                <div class="nhsuk-back-to-top">
                    <a class="nhsuk-back-to-top__link nhsuk-u-margin-top-0" href="#nhsuk-nav-a-z">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                        </svg>
                        Back to top
                    </a>
                </div>

                <div class="nhsuk-card nhsuk-card--feature nhsuk-u-margin-bottom-5">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="H">
                           H


                        </h2>
                        <ul class='nhsuk-list nhsuk-list--border'>
                            <li>There are currently no suppliers listed.</li>
                        </ul>
                    </div>
                </div>

                <div class="nhsuk-back-to-top">
                    <a class="nhsuk-back-to-top__link nhsuk-u-margin-top-0" href="#nhsuk-nav-a-z">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                        </svg>
                        Back to top
                    </a>
                </div>

            </div>
        </div>

    </main>
</div>



</main>
</div>

<script>
    console.log(localStorage);

    let checkAll = document.getElementsByClassName("nhsuk-checkboxes__input");

    let insetText = document.getElementById("inset-text-input");
     console.log(insetText);

  function checkAllBoxes() {
    for (let i = 0; i < checkAll.length; i++) {
       checkAll[i].checked = true;
     }
     let insetText = document.getElementById("inset-text-input");
     console.log(insetText);
     insetText.innerHTML =
     '<span class="nhsuk-u-visually-hidden">Information: </span>'
     +
     '<p>Deselect suppliers individually or use this link to <a href="#" class="nhsuk-link nhsuk-link--no-visited-state" onclick="removeAllBoxes()">deselect all suppliers</a></p>';
  }

  function removeAllBoxes() {
     for (let i = 0; i < checkAll.length; i++) {
       checkAll[i].checked = false;
     }
     let insetText = document.getElementById("inset-text-input");
     insetText.innerHTML =
     '<span class="nhsuk-u-visually-hidden">Information: </span>'
     +
     '<p>Select suppliers individually or use this link to <a class="nhsuk-link nhsuk-link--no-visited-state" href="#" onclick="checkAllBoxes()">select all suppliers</a></p>';
  }
</script>


{% endblock %}