{% extends "layout.html" %}
{% block content %}
<main id="main" class="nhsuk-main-wrapper" role="main">
  <div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="../dashboard.html">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back to dashboard</a>
  </div>
  <span class="nhsuk-caption-l">
  2023
</span>
  <h1>Upload the price concessions document</h1>
  <p>To provide the price concessions document, we will need a file upload. This should be in excel format. The largest size is 10 megabytes (MB).</p>
  <form action="/action_page.php">
    <label class="nhsuk-label" for="myFile">Upload a file</label>
    <input class="button" type="file" id="myFile" name="filename">
  </form>
  <a class="nhsuk-button nhsuk-u-margin-top-4" href="/view-prototype4/file-upload2">Save and continue</a>
</main>

<script>
  localStorage.clear();
  console.log(localStorage);
</script>
{% endblock %}