{% extends "base.html" %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<div class="column-two-thirds">
  <div class="breadcrumbs">
  </div>
</div>
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      <span class="heading-secondary">Design prototype</span>
      Branded Medicines</h1>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <h3 class="heading-large">View max price info</h3>
    <p><a href="/view-prototype1">Prototype 1</a></p>
    <p><a href="/view-prototype2">Prototype 2</a></p>
    <p><a href="/view-prototype3">Prototype 3</a></p>
    <p><a href="/view-prototype-final1">Prototype final 1</a></p>
    <p><a href="/view-prototype-final2">Prototype final 2</a> - Option voted for by DH</p>
    <p><a href="/view-prototype-final2a">Prototype final 2 edit journey</a> - DH to be asked</p>
    <p><a href="/view-prototype-with-links">Prototype edit journey with links</a> </p>
    <p><a href="/view-prototype-with-links2">Prototype edit journey with links2</a> </p>
    <p><a href="/register-prototype-product-info">Prototype register product journey</a> </p>


  </div>
</div>
{% endblock %}