{% extends "base.html" %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<div class="column-two-thirds">
  <div class="breadcrumbs">
  </div>
</div>
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      <span class="heading-secondary">Design prototype</span>
      Branded Medicines</h1>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <h3 class="heading-large">View max price info</h3>
    <p><a href="/view-prototype1">Prototype 1</a></p>
    <p><a href="/view-prototype2">Prototype 2</a></p>
    <p><a href="/view-prototype3">Prototype 3</a></p>
    <p><a href="/view-prototype-final1">Prototype final 1</a></p>
    <p><a href="/view-prototype-final2">Prototype 2 final</a></p>
  </div>
</div>
{% endblock %}