{% extends "base.html" %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<div class="grid-row">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li>
        <a href="#">Search for a company</a>
      </li>
      <li>
        <a href="#">Search for a product</a>
      </li>
      <li>
        <a href="#">Search results</a>
      </li>
      <li>
        <a href="#">Do you want to register additional information?</a></li>
      <li>
        <a href="#">Confirmation page</a>
      </li>
      <li>Do you want to link another product to Company 1?</li>
    </ol>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 id="main-content" class="heading-large mt-0">
      <span id="secondary-header" class="heading-secondary">Link product to company</span>
      <span id="primary-header">Do you want to link another product to Company 1?</span>
    </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <form>
      <div class="form-group">
        <fieldset class="inline">
          <div>
            <div class="multiple-choice">
              <input id="radio-inline-yes" type="radio" name="radio-inline-group" value="Yes"/>
              <label for="radio-inline-yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-inline-no" type="radio" name="radio-inline-group" value="No"/>
              <label for="radio-inline-no">No</label>
            </div>

          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <a href="/product-search" id="submit" class="button mt-10">Continue</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}