{% extends "base.html" %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="grid-row">

    <div class="column-two-thirds">
        <div class="done-panel">
            <h1 class="heading-xlarge"><span id="done-tick"></span>Done</h1>
            <h2 class="heading-large"><span class="lede white">Yondelis 0.25mg powder for concentrate for solution for
                    infusion vials product submission complete</span></h2>
        </div>


    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <h3 class="heading-medium">5 Outstanding submissions</h3>
        <p>Once all of your product submissions are complete, you can submit your product level returns report for approval via your dashboard.</p>

        <table class="mb-20">
            <thead>
                <tr>
                    <th>SNOMED code</th>
                    <th>Presentation</th>
                    <th>Pack size</th>
                    <th>Form</th>
                    <th>Max price</th>
                    <th>Date from</th>
                    <th>Date to</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <a href="#">100100100100</a></td>
                    <td>Paracetomol</td>
                    <td>8</td>
                    <td>Oral</td>
                    <td>&pound;14.99</td>
                    <td>12/07/2020</td>
                    <td>13/07/2020</td>

                </tr>
                <tr>
                    <td> <a href="#">100100100100</a></td>
                    <td>Paracetomol</td>
                    <td>8</td>
                    <td>Oral</td>
                    <td>&pound;14.99</td>
                    <td>12/07/2020</td>
                    <td>13/07/2020</td>

                </tr>
                <tr>
                    <td> <a href="#">100100100100</a></td>
                    <td>Paracetomol</td>
                    <td>8</td>
                    <td>Oral</td>
                    <td>&pound;14.99</td>
                    <td>12/07/2020</td>
                    <td>13/07/2020</td>

                </tr>
                <tr>
                    <td> <a href="#">100100100100</a></td>
                    <td>Paracetomol</td>
                    <td>8</td>
                    <td>Oral</td>
                    <td>&pound;14.99</td>
                    <td>12/07/2020</td>
                    <td>13/07/2020</td>

                </tr>
                <tr>
                    <td> <a href="#">100100100100</a></td>
                    <td>Paracetomol</td>
                    <td>8</td>
                    <td>Oral</td>
                    <td>&pound;14.99</td>
                    <td>12/07/2020</td>
                    <td>13/07/2020</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="grid-row">

    <div class="column-two-thirds">

        <div class="form-group">
            <button class="button">Return to dashboard</button>
        </div>
        <a href="#" rel="noopener noreferrer">Cancel</a>
    </div>
</div>
{% endblock %}