{% extends "base.html" %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<div class="grid-row">
    <div class="column-two-thirds">
<a href="/sales-dashboard" class="link-back">Back</a>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            <span class="heading-secondary">Branded medicines</span>
            Presentation level full report
        </h1>
    </div>
</div>
<div class="grid-row">

    <div class="column-two-thirds">
        <div class="panel panel-border-wide" id="contact-by-text">
            <div class="grid-row">
                <div class="column-third">
                    <h2 class="heading-small">Company</h2>
                    <p>Test Parmacy</p>

                </div>
                <div class="column-third">
                    <h2 class="heading-small">Year</h2>
                    <p>2020</p>

                </div>
                <div class="column-third">

                    <h2 class="heading-small">Reference</h2>
                    <p>12345678</p>

                </div>
            </div>



        </div>

    </div>
</div>


<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-medium">Total sales of scheme products</h2>
    </div>
    <div class="column-full">

        <div class="grid-row">

            <div class="column-half">
                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Primary Care net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Primary Care gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Home Care net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Home Care gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

            </div>
            <div class="column-half">
                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total all other customers sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total all other customers gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Grand total net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Grand total gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

            </div>
        </div>


    </div>

</div>
<div class="grid-row">
    <div class="column-two-thirds">
            <h2 class="heading-medium">Total sales of Primary Care</h2>
    </div>
    <div class="column-full">

        <div class="grid-row">

            <div class="column-half">
                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Primary Care net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Primary Care gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Home Care net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Home Care gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

            </div>
            <div class="column-half">
                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total all other customers sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total all other customers gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Grand total net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Grand total gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

            </div>
        </div>


    </div>

</div>
<div class="grid-row">
    <div class="column-two-thirds">
            <h2 class="heading-medium">Total sales of Homecare</h2>
    </div>
    <div class="column-full">

        <div class="grid-row">

            <div class="column-half">
                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Primary Care net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Primary Care gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Home Care net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Home Care gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

            </div>
            <div class="column-half">
                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total all other customers sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total all other customers gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Grand total net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Grand total gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

            </div>
        </div>


    </div>

</div>
<div class="grid-row">
    <div class="column-two-thirds">
            <h2 class="heading-medium">Total sales of all other sales</h2>
    </div>
    <div class="column-full">

        <div class="grid-row">

            <div class="column-half">
                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Primary Care net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Primary Care gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Home Care net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Home Care gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

            </div>
            <div class="column-half">
                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total all other customers sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total all other customers gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Grand total net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Grand total gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

            </div>
        </div>


    </div>

</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-medium">Total exclusion sales</h2>
    </div>
    <div class="column-full">

        <div class="grid-row">

            <div class="column-half">
                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Primary Care net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Primary Care gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Home Care net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total Home Care gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

            </div>
            <div class="column-half">
                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total all other customers sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Total all other customers gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

                <dl class="summary-list mt-tab">
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Grand total net sales</dt>
                        <dd class="summary-list__value" id="firstName">£250</dd>
                    </div>
                    <div class="summary-list__row">
                        <dt class="summary-list__key">Grand total gross sales</dt>
                        <dd class="summary-list__value" id="dob">£250</dd>
                    </div>
                </dl>

            </div>
        </div>


    </div>

</div>

{% endblock %}