{% extends "base.html" %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="breadcrumbs">
      <ol>
        <li>
          <a href="/">Back</a>
        </li>
        >
      </ol>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}

<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-large">
      <span class="heading-secondary">Branded medicines</span>
      All company returns
    </h1>
  </div>
</div>



<div class="grid-row">
  <div class="column-full">
    <div class="filterCaseResults" id="DHContactsList">
      <form name="companyFilterForm" action="/branded-medicines/companies/list" id="companyFilterForm" method="get">

        <div class="form-group">
          <label id="DHContact-label" for="dhUser" class="form-label-bold">Filter by DH User</label>
          <select class="form-control" id="dhUser" name="dhUser" aria-describedby="DHContact-label">
            <option value="">All companies</option>
            <option value="Hey">Hey</option>
            <option value="dhuser.dhuser@testemail.com">dhuser.dhuser@testemail.com</option>
          </select>

        </div>
        <div class="form-group">
          <label id="DHContact-label" for="dhUser" class="form-label-bold">Filter by company name</label>
          <select class="form-control" id="dhUser" name="dhUser" aria-describedby="DHContact-label">
            <option>Baxter</option>
            <option>Flynn Pharma LTD</option>
            <option></option>
          </select>

        </div>
        <div class="form-group">
          <label id="DHContact-label" for="dhUser" class="form-label-bold">Filter by Status</label>
          <select class="form-control" id="dhUser" name="dhUser" aria-describedby="DHContact-label">
            <option value="">All</option>
            <option value="">Submitted</option>
            <option value="">Rejected</option>
            <option value="">Acknowledged</option>
            <option value="">Audited</option>
            <option value="">Replaced</option>
            <option value="">Deleted</option>
          </select>
      </form>
    </div>
    <div class="form-group">
      <button class="button filterBtn" type="submit" method="get" id="companySearchButton" role="button">Filter
        Search</button>
    </div>




    <table>
      <caption class="visually-hidden">table showing </caption>
      <thead>
        <tr>
          <th>Status</th>
          <th>Company name</th>
          <th>Date made</th>
          <th>Return Period</th>
          <!-- <th>type</th>
        <th>user</th>
        <th>Download as CSV</th> -->
          <th><span class="visually-hidden">action</span></th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Submitted</td>
          <td>Baxter</td>
          <td>09Jul2020</td>
          <td>01/01/2019-31/12/2019</td>
          <!-- <td>SA</td>
        <td>richardhennessy@nhs.net</td>
        <td><a href="">CSV</a></td> -->
          <td><a href="">View</a></td>
        </tr>
        <tr>
          <td>Replaced</td>
          <td>Baxter</td>
          <td>09Jul2020</td>
          <td>01/01/2019-31/12/2019</td>
          <!-- <td>SA</td>
        <td>richardhennessy@nhs.net</td>
        <td><a href="">CSV</a></td> -->
          <td><a href="">View</a></td>

        </tr>
        <tr>
          <td>Submitted</td>
          <td>Baxter</td>
          <td>01Jan2019</td>
          <td>01/01/2019-31/12/2019</td>
          <!-- <td>SA</td>
        <td>richardhennessy@nhs.net</td>
        <td><a href="">CSV</a></td> -->
          <td><a href="">View</a></td>
        </tr>
        <tr>
          <td>Submitted</td>
          <td>Baxter</td>
          <td>01Jan2019</td>
          <td>01/01/2019-31/12/2019</td>
          <td><a href="">View</a></td>
        </tr>
        <tr>
          <td>Accepted</td>
          <td>Flynn Pharma Limited</td>
          <td>06Jul2020</td>
          <td>01/01/2019-31/12/2019</td>
          <td><a href="">View</a></td>
        </tr>
        <tr>
          <td>Accepted</td>
          <td>Teva UK Ltd</td>
          <td>11Ju2019</td>
          <td>01/01/2019-31/12/2019</td>
          <td><a href="">View</a></td>
        </tr>
        <tr>
          <td>Accepted</td>
          <td>Teva UK Ltd</td>
          <td>11Ju2019</td>
          <td>01/01/2019-31/12/2019</td>
          <td><a href="">View</a></td>
        </tr>
      </tbody>
    </table>
    
      <!-- <div class="grid-row">
        <div class="column-full">
          <div class="pager-summary">
            Showing <span>1</span>
            - <span>10</span> of <span>15</span> results
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-full">
          <div class="pager-controls">
            <ul class="pager-items">
              <li> <span>1</span></li>
              <li><a href="">2</a> </li>
            </ul>
            <a class="pager-next" href="">Next</a>
            <a class="pager-next" href="">Last</a>
          </div>
        </div> -->

      {% endblock %}