{% extends "base.html" %}
{% block content %}

<div class="grid-row">
  <div class="column-full">

    <h1 id="main-content" class="heading-large mt-0">
      <span id="secondary-header" class="heading-secondary">Link product to company</span>
      <span id="primary-header">Search for a company</span>
    </h1>
  </div>
</div>
<div class="grid-row">
  <div class="column-full">
    <div class="tabs">
      <div class="tabs tabbed">

        <div class="tabs-nav">
          <ul class="tabs-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Companies</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Link a product</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>

      <div class="tabs-content">
        <div class="tabs-panel tabs-panel-inner" role="tabpanel">
          <div class="grid-row">
            <div class="column-full">
              <div class="filterResults">
                <div class="grid-row">
                  <div class="column-two-thirds">
                    <label for="name" class="form-label-bold">Filter company</label>
                    <input type="text" id="name" class="form-control"/>
                  </div>

                  <div class="column-third">
                    <a class="button button-start mt20">Search</a>
                  </div>
                </div>
              </div>

              <table class="tasks" id="resultsTable">
                <caption class="visually-hidden">Companies table</caption>
                <thead>
                  <tr>
                    <th id="nameHeader" scope="col">Name</th>
                    <th id="editHeader" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="userList">
                    <td>Company 1</td>
                    <td><a href="/product-search">Select company</a></td>
                  </tr>
                  <tr class="userList">
                    <td>Company 2</td>
                    <td><a href="/product-search">Select company</a></td>
                  </tr>
                  <tr class="userList">
                    <td>Company 3</td>
                    <td><a href="/product-search">Select company</a></td>
                  </tr>
                  <tr class="userList">
                    <td>Company 4</td>
                    <td><a href="/product-search">Select company</a></td>
                  </tr>
                  <tr class="userList">
                    <td>Company 5</td>
                    <td><a href="/product-search">Select company</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
