{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <label for="expanderToggle">Expander/Accordion toggle</label>
    <input type="checkbox" id="expanderToggle" />
    <div class="nhsuk-grid-column-full">
        <h1>
            Quarterly collection dropdown - expander list
        </h1>
    </div>

    <div class="nhsuk-grid-column-full filterResults">
        <div class="nhsuk-grid-column-full" style="margin-bottom: 20px;">
            <label for="filter" class="nhsuk-heading-s" style="margin: 5px;">Filter</label>
            <input id="filter" class="nhsuk-u-width-full" type="text"/>
        </div>

        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-grid-column-one-half">
                <a href="#" class="nhsuk-button">Search</a>
            </div>

            <div class="nhsuk-grid-column-one-half">
                <a href="#" class="nhsuk-button nhsuk-button--secondary" style="float: right;">Reset filter</a>
            </div>
        </div>
    </div>

    <div class="nhsuk-grid-column-full">
        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Paracetamol
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Medicine name
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Paracetamol
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Purchase volume (number of packs)
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            24
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Net purchase cost (£)
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            12
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Sales volume (number of packs)
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            4
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Net sales value (£)
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            200
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Additional comments
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Test
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Comments on price changes
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Change of supplier
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Average purchase price (£)
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            0.5
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Average sales price (£)
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            50
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Edit
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <a href="/quarterly-edit-screen">Edit</a>
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Delete
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <a href="#">Delete</a>
                        </dd>
                    </div>
                </dl>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Ibuprofen
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Medicine name
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Ibuprofen
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Purchase volume (number of packs)
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            8
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Net purchase cost (£)
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            160
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Sales volume (number of packs)
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            100
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Net sales value (£)
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            100
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Additional comments
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Test 1
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Comments on price changes
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Concessionary price product
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Average purchase price (£)
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            20
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Average sales price (£)
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            1
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Edit
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <a href="/quarterly-edit-screen">Edit</a>
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Delete
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <a href="#">Delete</a>
                        </dd>
                    </div>
                </dl>
            </div>
        </details>
    </div>

    <div class="nhsuk-grid-column-full nhsuk-u-margin-top-6">
        <a class="nhsuk-button nhsuk-button--secondary" href="/quarterly-add-screen">Add new record</a>
    </div>
</div>
{% endblock %}