{% extends 'layout.html' %}

{% block pageTitle %}
  Quarterly dropdown table
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>
      Quarterly Dropdown Table
    </h1>

    <table role="table" id="myTable" class="nhsuk-table-responsive">
      <caption class="nhsuk-table__caption">Adding records in table</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Medicine name
        </th>
        <th role="columnheader" class="" scope="col">
          Purchase volume (number of packs)
        </th>
        <th role="columnheader" class="" scope="col">
          Net purchase cost (£)
        </th>
       <th role="columnheader" class="" scope="col">
          Sales volume (number of packs)
        </th>
        <th role="columnheader" class="" scope="col">
          Net sales value (£)
        </th>
        <th role="columnheader" class="" scope="col">
          Additional comments
        </th>
       <th role="columnheader" class="" scope="col">
          Comments on price changes
        </th>
        <th role="columnheader" class="" scope="col">
          Average purchase price (£)
        </th>
        <th role="columnheader" class="" scope="col">
          Average sales price (£)
        </th>
      </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Medicine name </span>Paracetamol
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Purchase volume (number of packs) </span>24
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Net purchase cost (£) </span>12
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Sales volume (number of packs) </span>4
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Net sales value (£) </span>200
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Additional comments </span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Comments on price changes </span> Change of supplier
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Average purchase price (£) </span>0.5
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Average sales price (£) </span>50
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="addRow" class="nhsuk-u-margin-top-6">
  <h2 class="nhsuk-heading-m">Add new record</h2>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-third">
            <label class="nhsuk-heading-xs" for="medicine-name">Medicine Name</label>
          </div>
          <div class="nhsuk-grid-column-two-thirds">
            <select id="medicine-name">
              <option>Ibuprofen</option>
              <option>Calpol</option>
            </select>
          </div>
        </div>
    </div>

    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <label class="nhsuk-heading-xs" for="purchase-volume">Purchase volume (number of packs)</label>
        </div>
        <div class="nhsuk-grid-column-two-thirds">
          <input id="purchase-volume" type="text" />
        </div>
      </div>
    </div>

    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <label class="nhsuk-heading-xs" for="net-purchase-cost">Net purchase cost (£)</label>
        </div>
        <div class="nhsuk-grid-column-two-thirds">
          <input id="net-purchase-cost" type="text" />
        </div>
      </div>
    </div>

    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <label class="nhsuk-heading-xs" for="sales-volume">Sales volume (number of packs)</label>
        </div>
        <div class="nhsuk-grid-column-two-thirds">
          <input id="sales-volume" type="text" />
        </div>
      </div>
    </div>

    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <label class="nhsuk-heading-xs" for="net-sales-value">Net sales value (£)</label>
        </div>
        <div class="nhsuk-grid-column-two-thirds">
          <input id="net-sales-value" type="text" />
        </div>
      </div>
    </div>

    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <label class="nhsuk-heading-xs" for="additional-comments">Additional comments</label>
        </div>
        <div class="nhsuk-grid-column-two-thirds">
          <input id="additional-comments" type="text" />
        </div>
      </div>
    </div>

    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <label class="nhsuk-heading-xs" for="comments-on-price-changes">Comments on price changes</label>
        </div>
        <div class="nhsuk-grid-column-two-thirds">
          <select id="comments-on-price-changes">
            <option>Change of supplier</option>
            <option>Commercial decision</option>
            <option>Concessionary price product</option>
            <option>Customer mix</option>
            <option>Data corrected</option>
            <option>Not regular business</option>
          </select>
        </div>
      </div>
    </div>

    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <label class="nhsuk-heading-xs" for="average-purchase-price">Average purchase price (£)</label>
        </div>
        <div class="nhsuk-grid-column-two-thirds">
          <input id="average-purchase-price" type="text" disabled />
        </div>
      </div>
    </div>

    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <label class="nhsuk-heading-xs" for="average-sales-price">Average sales price (£)</label>
        </div>
        <div class="nhsuk-grid-column-two-thirds">
          <input id="average-sales-price" type="text" disabled />
        </div>
      </div>
    </div>

    <a onclick="addRow()">Submit</a>
  </div>
</div>

{% endblock %}