{% extends "base.html" %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<div class="grid-row">
    <div class="column-full">
        <a href="/register-prototype-product-info" class="link-back">Back</a>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            <span class="heading-secondary">Spinraza (5ml) solution for injection 12mg</span>
            New Active Substance (NAS)
        </h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

        <div class="form-group">
            <fieldset class="inline">
                <legend>
                    <span class="form-label-bold">
                        NAS
                    </span>
                </legend>
                <div class="multiple-choice">
                    <input id="radio-inline-yes" type="radio" name="radio-inline-group" value="Yes">
                    <label for="radio-inline-yes">Yes</label>
                </div>
                <div class="multiple-choice">
                    <input id="radio-inline-no" type="radio" name="radio-inline-group" value="No">
                    <label for="radio-inline-no">No</label>
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <fieldset>
                <legend>
                    <span class="form-label-bold">Date of marketing authorisation</span>
                    <span class="form-hint" id="dob-hint">For example, 11 07 1987</span>
                </legend>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="date-from-day">Day</label>
                        <input class="form-control" id="date-from-day" name="date-from-day" type="text" pattern="[0-9]*"
                               aria-describedby="date-from-day">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="date-from-month">Month</label>
                        <input class="form-control" id="date-from-month" name="date-from-month" type="text"
                               pattern="[0-9]*">
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="date-from-year">Year</label>
                        <input class="form-control" id="date-from-year" name="date-from-year" type="text"
                               pattern="[0-9]*" min="0">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <a href="/register-prototype-temp-price" class="button mt-10" role="button">Next</a>
        </div>


        <div class="form-group">
            <a href="/" class="heading-small">Cancel</a>
        </div>



    </div>
</div>
{% endblock %}