{% extends "base.html" %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="breadcrumbs">
      <ol>
        <li>
          <a href="/">Home</a>
        </li>
        <li>Sales dashboard</li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}


<div class="grid-row" style="margin-bottom: 20px;">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      <span class="heading-secondary">Branded medicines</span>
      Statuatory presentation level sales dashboard
    </h1>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="panel panel-border-wide" id="contact-by-text">
      <div class="grid-row">
        <div class="column-third">
          <h2 class="heading-small">Company</h2>
          <p>Test Parmacy</p>
        </div>
        <div class="column-third">
          <h2 class="heading-small">Year</h2>
          <p>2020</p>

        </div>
        <div class="column-third">
          <h2 class="heading-small">Reference</h2>
          <p>12345678</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column-one-third">
    <a class="button button-start" href="/presentation-level-report-view-all" role="button">View sales summary</a>
  </div>
</div>
<div class="grid-row">
  <div class="column-full">
<h2 class="heading-medium">
  You have 6 prodcts outstanding for submission
</h2>
<p>Once you have completed all submissions, you will be able to submit your full report for approval.</p>

<p>You can easily submit all of your zero returns values by <a href="/zeroreturns">visiting our zero returns submissions page</a>.</p>
    <table style="margin-bottom: 20px;">
      <thead>
        <tr>
          <th scope="col">Product name</th>
          <th scope="col">Pack size</th>
          <th scope="col">Max price</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Paracetamol 500mg caplets</td>
          <td>32</td>
          <td>£18.00</td>
          <td>01/01/2019</td>
          <td>01/01/2020</td>
          <td><a href="/presentation-level-report-form">Submit</a></td>
        </tr>
        <tr>
          <td>Paracetamol 500mg capsules</td>
          <td>16</td>
          <td>£13.00</td>
          <td>01/01/2019</td>
          <td>01/01/2020</td>
          <td><a href="/presentation-level-report-form">Submit</a></td>
        </tr>
        <tr>
          <td>Paracetamol 500mg tablets</td>
          <td>12</td>
          <td>£15.40</td>
          <td>01/01/2019</td>
          <td>01/01/2020</td>
          <td><a href="/presentation-level-report-form">Submit</a></td>
        </tr>
        <tr>
          <td>Paracetamol 30mg caplets</td>
          <td>32</td>
          <td>£3.65</td>
          <td>01/01/2019</td>
          <td>01/01/2020</td>
          <td><a href="/presentation-level-report-form">Submit</a></td>
        </tr>
        <tr>
          <td>Paracetamol 50mg capsules</td>
          <td>16</td>
          <td>£12.06</td>
          <td>01/01/2019</td>
          <td>01/01/2020</td>
          <td><a href="/presentation-level-report-form">Submit</a></td>
        </tr>
        <tr>
          <td>Paracetamol 50ml Sachets</td>
          <td>12</td>
          <td>£9.50</td>
          <td>01/01/2019</td>
          <td>01/01/2020</td>
          <td><a href="/presentation-level-report-form">Submit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="grid-row">
    <div class="column-full">
  <h2 class="heading-medium">
    You have completed submissions for 12 products
  </h2>
  <p>You can edit your completed submissions up until you submit your completed report for review.</p>
      <table style="margin-bottom: 20px;">
        <thead>
          <tr>
            <th scope="col">Product name</th>
            <th scope="col">Pack size</th>
            <th scope="col">Max price</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Paracetamol 500mg caplets</td>
            <td>32</td>
            <td>£18.00</td>
            <td>01/01/2019</td>
            <td>01/01/2020</td>
            <td><a href="/presentation-level-report-form">Edit</a></td>
          </tr>
          <tr>
            <td>Paracetamol 500mg capsules</td>
            <td>16</td>
            <td>£13.00</td>
            <td>01/01/2019</td>
            <td>01/01/2020</td>
            <td><a href="/presentation-level-report-form">Edit</a></td>
          </tr>
          <tr>
            <td>Paracetamol 500mg tablets</td>
            <td>12</td>
            <td>£15.40</td>
            <td>01/01/2019</td>
            <td>01/01/2020</td>
            <td><a href="/presentation-level-report-form">Edit</a></td>
          </tr>
          <tr>
            <td>Paracetamol 30mg caplets</td>
            <td>32</td>
            <td>£3.65</td>
            <td>01/01/2019</td>
            <td>01/01/2020</td>
            <td><a href="/presentation-level-report-form">Edit</a></td>
          </tr>
          <tr>
            <td>Paracetamol 50mg capsules</td>
            <td>16</td>
            <td>£12.06</td>
            <td>01/01/2019</td>
            <td>01/01/2020</td>
            <td><a href="/presentation-level-report-form">Edit</a></td>
          </tr>
          <tr>
            <td>Paracetamol 50ml Sachets</td>
            <td>12</td>
            <td>£9.50</td>
            <td>01/01/2019</td>
            <td>01/01/2020</td>
            <td><a href="/presentation-level-report-form">Edit</a></td>
          </tr>
        </tbody>
      </table>
      <input class="button" type="submit" value="Submit Report" disabled="disabled">
    </div>
  </div>

{% endblock %}