{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection - dropdown table
{% endblock %}

{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-5">

    <a class="nhsuk-back-link__link " href="summary">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to user summary</a>
</div>


<div class="nhsuk-width-container">
    <h1>
    Edit your email address
</h1>
    <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="email">
            Email
        </label>
        <input class="nhsuk-input" id="email" name="forename" type="text" value="karenwhite@nhs.net">
    </div>
    <a class="nhsuk-button nhsuk-u-margin-top-3" href="../account-area">Save and return to my account</a>
</div>
<script>
    console.log(localStorage);
</script>
{% endblock %}