{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-5" href="supplier-contact">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to request dashboard</a>
</div>

        <h1><span class="nhsuk-caption-l">
     <span id="request-date">October 2023</span> - fourth request
     <span class="nhsuk-u-visually-hidden">: </span>
   </span>
            Additional suppliers
        </h1>

<div class="nhsuk-form-group">
    <p></p>


    <p>Each additional supplier's template only includes products that are in their own portfolio. Every additional supplier needs to receive their own template. You can do this by either:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
        <li>selecting the ‘Send group email’ link - this will send the template to all contacts in a group of suppliers.</li>
        <li>selecting the ‘Update’ link – this is where you can download the template, make changes and send it from your own email address. Only do this if an additional supplier's own template needs to be changed.</li>
    </ul>

    <div class="nhsuk-action-link nhsuk-u-margin-top-5">
        <a class="nhsuk-action-link__link nhsuk-link--no-visited-state" href="../auto-email-additional/choose-additional-suppliers">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">Send a group email</span>
        </a>
    </div>
    
    <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-3">
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Search for a specific supplier
    </span>
            </summary>

            <div class="nhsuk-details__text">

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example">
                        Supplier search
                    </label>
                    <div class="nhsuk-hint" id="example-with-hint-text-hint">
                        You can search the additional suppliers' template correspondence list for a specific supplier.
                    </div>
                    <input class="nhsuk-input" id="example" name="example" type="text">
                </div>

            <a class="nhsuk-button nhsuk-u-margin-top-6"
               id="continue-button" type="submit" href="#">
                Refine search
            </a>
            <a href="#" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-left-5 nhsuk-u-margin-top-6">Reset search</a>
            </div>
        </details>

    </fieldset>

</div>

<div class="nhsuk-body-m flex--space-between" style="display: flex">
    <div class="nhsuk-u-visually-hidden">Currently viewing</div>
    <div id="pageAndResultCount">Page 1 of 1 (5 results)</div>
</div>

<table class="nhsuk-table nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Additional suppliers list</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
        <th role="columnheader" class="nhsbsa-u-whitespace__normal" scope="col">
            Supplier
        </th>
        <th role="columnheader" class="nhsbsa-u-whitespace__normal" scope="col">
            Type of email
        </th>
        <th role="columnheader" class="nhsbsa-u-whitespace__normal" scope="col">
            Sent on
        </th>
        <th role="columnheader" class="nhsbsa-u-whitespace__normal" scope="col">
            Total reminders
        </th>
        <th role="columnheader" class="nhsbsa-u-whitespace__normal" scope="col">
            Last reminder
        </th>
        <th role="columnheader" class="nhsbsa-u-whitespace__normal" scope="col">
            Replied on
        </th>
        <th role="columnheader" class="nhsbsa-u-whitespace__normal" scope="col">
            Action
        </th>
    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Supplier name</span>Amgen Ltd</td>
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Type of email</span>
            <span id="type-of-email-1"></span></td>
        <td role="cell" class="nhsuk-table__cell" id="date-sent">
            <span class="nhsuk-table-responsive__heading">Template sent</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-sent">Template has not been sent</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reminders</span>0</td>
        <td role="cell" class="nhsuk-table__cell" id="reminder-sent">
            <span class="nhsuk-table-responsive__heading">Last reminder</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reminder">Reminder has not been sent</span></td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reply received</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reply">Reply has not been received</span>
        <span id="reply-in"></span></td>

        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Action</span>
            <a class="nhsuk-link nhsuk-link--no-visited-state" href="additional-supplier-view-tabs" id="supplier-update">Update</a></td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Supplier name</span>
            Boehringer Ingelheim Ltd</td>
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Type of email</span>
            <span id="type-of-email-2"></span></td>
        <td role="cell" class="nhsuk-table__cell" id="date-sent-1">
            <span class="nhsuk-table-responsive__heading">Template sent</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-sent-2">Template has not been sent</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reminders</span>0</td>
        <td role="cell" class="nhsuk-table__cell" id="reminder-sent-1">
            <span class="nhsuk-table-responsive__heading">Last reminder</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reminder-1">Reminder has not been sent</span></td>
        <td role="cell" class="nhsuk-table__cell" id="reply-in-1">
            <span class="nhsuk-table-responsive__heading">Reply received</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reply-1">Reply has not been received</span></td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Action</span>
            Update</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Supplier name</span>Cambridge Healthcare Supplies Ltd</td>
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Type of email</span>
            <span id="type-of-email-3"></span></td>
        <td role="cell" class="nhsuk-table__cell" id="date-sent-2">
            <span class="nhsuk-table-responsive__heading">Template sent</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-sent-3">Template has not been sent</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reminders</span>0</td>
        <td role="cell" class="nhsuk-table__cell" id="reminder-sent-2">
            <span class="nhsuk-table-responsive__heading">Last reminder</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reminder-2">Reminder has not been sent</span></td>
        <td role="cell" class="nhsuk-table__cell" id="reply-in-2">
            <span class="nhsuk-table-responsive__heading">Reply received</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reply-2">Reply has not been received</span></td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Action</span>
            Update</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Supplier name</span>Ennogen Pharma Ltd</td>
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Type of email</span>
            <span id="type-of-email-4"></span></td>
        <td role="cell" class="nhsuk-table__cell" id="date-sent-3">
            <span class="nhsuk-table-responsive__heading">Template sent</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-sent-4">Template has not been sent</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reminders</span>0</td>
        <td role="cell" class="nhsuk-table__cell" id="reminder-sent-3">
            <span class="nhsuk-table-responsive__heading">Last reminder</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reminder-3">Reminder has not been sent</span></td>
        <td role="cell" class="nhsuk-table__cell" id="reply-in-3">
            <span class="nhsuk-table-responsive__heading">Reply received</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reply-3">Reply has not been received</span></td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Action</span>
            Update</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Supplier name</span>Indivior UK Ltd</td>
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Type of email</span>
            <span id="type-of-email-5"></span></td>
        <td role="cell" class="nhsuk-table__cell" id="date-sent-4">
            <span class="nhsuk-table-responsive__heading">Template sent</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-sent-5">Template has not been sent</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reminders</span>
            <span id="reminder-number">0</span></td>
        <td role="cell" class="nhsuk-table__cell" id="reminder-sent-4">
            <span class="nhsuk-table-responsive__heading">Last reminder</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reminder-4">Reminder has not been sent</span>
            <span id="last-reminder"></span></td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reply received</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reply-4">Reply has not been received</span>
            <span id="reply-in-manual"></span></td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Action</span>
            <a class="nhsuk-link nhsuk-link--no-visited-state" href="additional-supplier-view-tabs-manual" id="supplier-update-manual">Update</a></td>
    </tr>
    </tbody>
</table>

<nav class="govuk-pagination nhsuk-u-margin-bottom-7 nhsuk-u-margin-top-5" role="navigation" aria-label="results">
    <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Previous</span></a>
    </div>
    <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                1
            </a>
        </li>
        <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                2
            </a>
        </li>
        <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
            </a>
        </li>
    </ul>
    <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg></a>
    </div>
</nav>

<script>
    console.log(localStorage);

    let dateEmailSent = localStorage.getItem("has-sent-email-additional");
    let dateReplyReceived = localStorage.getItem("supplier-has-replied-additional");
    let dateReplyReceivedManual = localStorage.getItem("supplier-has-replied-manual-additional");
    let dateSent = new Date();

    var shortMonth =  ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];

    let day = dateSent.getDate();
    let month = dateSent.getMonth();
    let year = dateSent.getFullYear();
<!--    if (month < 10) month = '0' + month;-->

    let currentDate = `${day} ${shortMonth[month]} ${year}`;
    console.log(shortMonth[month]);

    if (dateReplyReceived == "yes") {
       document.getElementById("reply-in").innerHTML = currentDate;
       document.getElementById("supplier-update").innerHTML = 'View';
       if (document.getElementById("hidden-reply")) {
       document.getElementById("hidden-reply").style.display = "none";
       }
    }

    if (dateReplyReceivedManual == "yes") {
       document.getElementById("reply-in-manual").innerHTML = currentDate;
       document.getElementById("supplier-update-manual").innerHTML = 'View';
       if (document.getElementById("hidden-reply-5")) {
       document.getElementById("hidden-reply-5").style.display = "none";
       }
    }

    if (localStorage.getItem("group-email-sent-additional") == "yes") {
        document.getElementById("hidden-sent").textContent = currentDate;
        document.getElementById("hidden-sent-3").textContent = currentDate;
        document.getElementById("hidden-sent-4").textContent = currentDate;
        document.getElementById("hidden-sent-2").textContent = currentDate;
        document.getElementById("hidden-sent").classList.remove("nhsuk-u-visually-hidden");
        document.getElementById("hidden-sent-3").classList.remove("nhsuk-u-visually-hidden");
        document.getElementById("hidden-sent-4").classList.remove("nhsuk-u-visually-hidden");
        document.getElementById("hidden-sent-2").classList.remove("nhsuk-u-visually-hidden");
        document.getElementById("type-of-email-1").textContent = "Group";
        document.getElementById("type-of-email-2").textContent = "Group";
        document.getElementById("type-of-email-3").textContent = "Group";
        document.getElementById("type-of-email-4").textContent = "Group";
    }

    if (localStorage.getItem("has-sent-email-manual-additional") == "yes") {
        document.getElementById("hidden-sent-5").textContent = currentDate;
        document.getElementById("hidden-sent-5").classList.remove("nhsuk-u-visually-hidden");
        document.getElementById("type-of-email-5").textContent = "Manual";
    }

    if (localStorage.getItem("reminder-one-sent-additional") == "yes" && (!localStorage.getItem("reminder-two-sent-additional") || localStorage.getItem("reminder-two-sent-additional") == "no")) {
       document.getElementById("reminder-number").textContent = "1";
       document.getElementById("last-reminder").textContent = currentDate;
    } else if (localStorage.getItem("reminder-one-sent-additional") == "yes" && localStorage.getItem("reminder-two-sent-additional") == "yes") {
       document.getElementById("reminder-number").textContent = "2";
       document.getElementById("last-reminder").textContent = currentDate;
    }

    let requestDate = document.getElementById("request-date");
       var monthNamesTitle = ["January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"];

        var dt = new Date();
        var dayTodayt = dt.getDate();
        var monthTodayt = monthNamesTitle[dt.getMonth()];
        var yearTodayt = dt.getFullYear();

        requestDate.innerHTML = monthTodayt + ' ' + yearTodayt;

</script>

{% endblock %}