{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-5" href="supplier-contact">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to request dashboard</a>
</div>

        <h1><span class="nhsuk-caption-l">
     October 2023 - 4th request
     <span class="nhsuk-u-visually-hidden">: </span>
   </span>
            Main suppliers
        </h1>

<div class="nhsuk-form-group">
    <p>You are required to send a product list template to each supplier. This can be achieved by either:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
        <li>sending the same template to a group of suppliers, via the &#39;Send a group email&#39; link.</li>
        <li>sending an individual template, if a supplier requires a bespoke template, by downloading and amending via the &#39;Update&#39; link from the table and sending via email.</li>
    </ul>

    <div class="nhsuk-action-link nhsuk-u-margin-top-5">
        <a class="nhsuk-action-link__link nhsuk-link--no-visited-state" href="../auto-email/choose-main-suppliers">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">Send a group email</span>
        </a>
    </div>

    <hr aria-hidden="true" />

    <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-3">
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Search for a specific supplier
    </span>
            </summary>

            <div class="nhsuk-details__text">

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example">
                        Supplier search
                    </label>
                    <div class="nhsuk-hint" id="example-with-hint-text-hint">
                        If required, you can refine the main suppliers list by searching for a specific supplier.
                    </div>
                    <input class="nhsuk-input" id="example" name="example" type="text">
                </div>

            <a class="nhsuk-button nhsuk-u-margin-top-6"
               id="continue-button" type="submit" href="#">
                Refine search
            </a>
            <a href="#" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-left-5 nhsuk-u-margin-top-6">Reset search</a>
            </div>
        </details>

    </fieldset>

</div>

<div class="nhsuk-body-m flex--space-between" style="display: flex">
    <div class="nhsuk-u-visually-hidden">Currently viewing</div>
    <div id="pageAndResultCount">Page 1 of 1 (5 results)</div>
</div>

<table class="nhsuk-table nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Main suppliers list</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
        <th role="columnheader" class="" scope="col">
            Supplier name
        </th>
        <th role="columnheader" class="" scope="col">
            Template sent
        </th>
        <th role="columnheader" class="" scope="col">
            Reply received
        </th>
        <th role="columnheader" class="" scope="col">
            Reminders
        </th>
        <th role="columnheader" class="" scope="col">
            Last reminder
        </th>
        <th role="columnheader" class="" scope="col">
            Action
        </th>
    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Supplier name</span>
            AAH Pharmaceuticals Ltd</td>
        <td role="cell" class="nhsuk-table__cell" id="date-sent">
            <span class="nhsuk-table-responsive__heading">Template sent</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-sent">Template has not been sent</span>
        </td>
        <td role="cell" class="nhsuk-table__cell" id="reply-in">
            <span class="nhsuk-table-responsive__heading">Reply received</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reply">Reply has not been received</span></td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reminders</span>0</td>
        <td role="cell" class="nhsuk-table__cell" id="reminder-sent">
            <span class="nhsuk-table-responsive__heading">Last reminder</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reminder">Reminder has not been sent</span></td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Action</span>
            <a class="nhsuk-link nhsuk-link--no-visited-state" href="supplier-view-tabs" id="supplier-update">Update</a></td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Supplier name</span>
            Accord-UK Ltd</td>
        <td role="cell" class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Template sent</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-sent-2">Template has not been sent</span>
        </td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Reply received</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reply-2">Reply has not been received</span></td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Reminders</span>0</td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Last reminder</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reminder-2">Reminder has not been sent</span></td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Action</span>Update</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Supplier name</span>
            Alliance Healthcare (Distributions) Ltd</td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Template sent</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-sent-3">Template has not been sent</span>
        </td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Reply received</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reply-3">Reply has not been received</span></td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Reminders</span>0</td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Last reminder</span>
            <span class="nhsuk-u-visually-hidden" id="hidden-reminder-3">Reminder has not been sent</span></td>
        <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Action</span>Update</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Supplier name</span>
            Kent Pharmaceuticals Ltd</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Template sent</span>
            <span class="nhsuk-u-visually-hidden">Template has not been sent</span>
        </td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Reply received</span>
            <span class="nhsuk-u-visually-hidden">Reply has not been received</span></td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Reminders</span>0</td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Last reminder</span>
            <span class="nhsuk-u-visually-hidden">Reminder has not been sent</span></td>
        <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Action</span>Update</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Supplier name</span>
            Phoenix Healthcare Distributions Ltd</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Template sent</span>
            <span class="nhsuk-u-visually-hidden">Template has not been sent</span>
        </td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Reply received</span>
            <span class="nhsuk-u-visually-hidden">Reply has not been received</span></td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Reminders</span>0</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Last reminder</span>
            <span class="nhsuk-u-visually-hidden">Reminder has not been sent</span></td>
        <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Action</span>Update</td>
    </tr>

    </tbody>
</table>

<nav class="govuk-pagination nhsuk-u-margin-bottom-7 nhsuk-u-margin-top-5" role="navigation" aria-label="results">
    <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Previous</span></a>
    </div>
    <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                1
            </a>
        </li>
        <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                2
            </a>
        </li>
        <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
            </a>
        </li>
    </ul>
    <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg></a>
    </div>
</nav>

<script>
    console.log(localStorage);

    let dateEmailSent = localStorage.getItem("has-sent-email");
    let dateReplyReceived = localStorage.getItem("supplier-has-replied");
    let dateSent = new Date();

    let day = dateSent.getDate();
    let month = dateSent.getMonth() + 1;
    let year = dateSent.getFullYear();

    if (day < 10) day = '0' + day;
    if (month < 10) month = '0' + month;

    let currentDate = `${day}-${month}-${year}`;
    console.log(currentDate);

    if (dateEmailSent == "yes") {
       document.getElementById("date-sent").innerHTML = currentDate;
       if (document.getElementById("hidden-sent")) {
       document.getElementById("hidden-sent").style.display = "none";
       }
    }

    if (dateReplyReceived == "yes") {
       document.getElementById("reply-in").innerHTML = currentDate;
       document.getElementById("supplier-update").innerHTML = 'View';
       if (document.getElementById("hidden-reply")) {
       document.getElementById("hidden-reply").style.display = "none";
       }
    }

</script>

{% endblock %}