{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-5" href="../new-request/current-requests" id="back-link">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to ongoing and new requests</a>
</div>

        <h1><span class="nhsuk-caption-l">
     <span id="request-date">October 2023</span> - fourth request
     <span class="nhsuk-u-visually-hidden">: </span>
   </span>
            Request dashboard
        </h1>

<h2>Summary</h2>

<dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Date requested
        </dt>
        <dd class="nhsuk-summary-list__value">
            <span id="requested-date">24 October 2023</span>
        </dd>
    </div>

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Supplier deadline
        </dt>
        <dd class="nhsuk-summary-list__value">
            <span id="deadline-date">October 2023</span> at 5pm
        </dd>
    </div>

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Request status
        </dt>
        <dd class="nhsuk-summary-list__value">
            <strong class="nhsuk-tag nhsuk-tag--blue" id="status-tag">
                Ongoing
            </strong>
        </dd>
    </div>

    <div class="nhsuk-summary-list__row" id="cdr-yes-or-no">
        <dt class="nhsuk-summary-list__key">
            Common Drug Reference (CDR) queries complete
        </dt>
        <dd class="nhsuk-summary-list__value">
            <span id="cdr-query">Yes </span>
        </dd>
    </div>
</dl>

<p id="pending-text"> To view suppliers and download templates you must first create the processed product list. This is achieved by running CDR queries on the Department of Health and Social Care (DHSC) product list. Any amendments to the DHSC product list must be made prior to running the CDR queries.</p>

<div class="nhsuk-form-group">

    <h2 class="nhsuk-u-margin-top-6">Product list</h2>
    <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="product-list-results-edit" id="product-list-link">DHSC product list</a>
                </h2>
                <p class="nhsuk-card__description" id="product-list-text">View, add or remove items from the product list.</p>

            </div>
        </div>

    </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item hide-area" id="main-list-area">

        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="product-list-results-master">Processed product list</a>
                </h2>
                <p class="nhsuk-card__description">View the product list containing all information from the CDR queries.</p>

            </div>
        </div>

    </li>
    </ul>

    <div class="nhsuk-action-link nhsuk-u-margin-bottom-7" id="cdr-query-area">
        <a class="nhsuk-action-link__link nhsuk-link--no-visited-state" href="loading-cdr-queries" onclick="runCDRQuery()">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text ">Run CDR queries to create processed product list</span>
        </a>
    </div>

    <div class="hide-area" id="supplier-area">
        <h2>Suppliers</h2>
        <p>To continue with this request, send templates to all main and additional
            suppliers. To do this, visit each supplier area and either:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>send the template to a group of suppliers</li>
            <li>or download the template and send to individual suppliers using your own
                email</li>
        </ul>

        <p>You can track the supplier correspondence in each section.</p>

<!--        <p class="nhsuk-u-margin-bottom-6">If the main or additional supplier template does not fit with the supplier  <a class="nhsuk-link nhsuk-link&#45;&#45;no-visited-state" href="#">create a bespoke supplier template</a></p>-->

        <h3>Main suppliers</h3>
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48">5</span>
                  <br>
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="main-suppliers">Main suppliers</a>
                </span>
                        </h2>

                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48" id="templates-sent">0</span>
                  <br>
                  Templates sent
                </span>
                        </h2>

                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48" id="replies-received">0</span>
                  <br>
                  Replies received
                </span>
                        </h2>

                    </div>
                </div>

            </li>

            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48" id="reminders-sent">0</span>
                  <br>
                  Suppliers sent reminders
                </span>
                        </h2>

                    </div>
                </div>

            </li>
        </ul>

        <h3>Additional suppliers</h3>
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card-clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48">5</span>
                  <br>
                  <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="additional-suppliers">Additional suppliers</a>
                </span>
                        </h2>

                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48" id="templates-sent-additional">0</span>
                  <br>
                  Templates sent
                </span>
                        </h2>

                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48" id="replies-received-add">0</span>
                  <br>
                  Replies received
                </span>
                        </h2>

                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-48" id="reminders-sent-add">0</span>
                  <br>
                  Suppliers sent reminders
                </span>
                        </h2>

                    </div>
                </div>

            </li>
        </ul>
    </div>

</div>

<a class="nhsuk-button" href="../new-request/current-requests" id="save-and-exit">Save and exit</a>

<script>

    window.onload = function() {
    if (localStorage.getItem("upload-confirmation") == "yes") {
    document.getElementById("back-link").setAttribute('href', "../new-request/file-upload3");
    document.getElementById("back-link").innerHTML = "<svg class='nhsuk-icon nhsuk-icon__chevron-left' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' height='24' width='24'><path d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'></path></svg>Go back to upload confirmation";
      }
    }

    if (localStorage.getItem("dh-login") == "yes") {
        document.getElementById("cdr-query-area").classList.add("hide-from-dh");
        document.getElementById("pending-text").classList.add("hide-from-dh");
        document.getElementById("cdr-yes-or-no").classList.add("hide-from-dh");
        document.getElementById("save-and-exit").classList.add("hide-from-dh");
        document.getElementById("pending-text").classList.remove("hide-from-dh");
        document.getElementById("pending-text").innerHTML = "You must access the DHSC product list in order to review all items on the request. From there you will be able to notify the NHS Business Services Authority (NHS BSA) that the product list is ready for action.";
    }

    if (localStorage.getItem("save-and-exit") == "yes") {
       document.getElementById("status-tag").classList.remove("nhsuk-tag--blue");
       document.getElementById("status-tag").classList.add("nhsuk-tag--orange");
       document.getElementById("status-tag").innerHTML = "Pending";
       document.getElementById("cdr-query").innerHTML = "No";

    };

    if (localStorage.getItem("save-and-exit-ongoing") == "yes") {
       document.getElementById("status-tag").classList.add("nhsuk-tag--blue");
       document.getElementById("status-tag").classList.remove("nhsuk-tag--orange");
       document.getElementById("status-tag").innerHTML = "Ongoing";
       document.getElementById("cdr-query").innerHTML = "Yes";
       document.getElementById("product-list-text").innerHTML = "View items in the product list, including any amendments made.";
       document.getElementById("product-list-link").href = "product-list-results";
       document.getElementById("main-list-area").classList.remove("hide-area");
       document.getElementById("supplier-area").classList.remove("hide-area");
       document.getElementById("cdr-query-area").classList.add("hide-area");
       document.getElementById("pending-text").classList.add("hide-area");

    };

    function saveFromDashboard() {
      localStorage.setItem("save-from-dashboard", "yes");
    }

    function saveAndExit() {
      localStorage.removeItem("save-and-exit", "yes");
      localStorage.setItem("save-and-exit-ongoing", "yes");
    }

    function runCDRQuery() {
      localStorage.setItem("save-and-exit-ongoing", "yes");
      localStorage.setItem("save-and-exit", "no");
    }

    console.log(localStorage);

    let dateEmailSent = localStorage.getItem("has-sent-email");
    let dateReplyReceived = localStorage.getItem("supplier-has-replied");
    let dateReplyReceivedManual = localStorage.getItem("supplier-has-replied-manual");

    let dateEmailSentAdd = localStorage.getItem("has-sent-email-additional");
    let dateReplyReceivedAdd = localStorage.getItem("supplier-has-replied-additional");
    let dateReplyReceivedManualAdd = localStorage.getItem("supplier-has-replied-manual-additional");
    let dateSent = new Date();

    let day = dateSent.getDate();
    let month = dateSent.getMonth() + 1;
    let year = dateSent.getFullYear();

    if (day < 10) day = '0' + day;
    if (month < 10) month = '0' + month;

    let currentDate = `${day}-${month}-${year}`;
    console.log(currentDate);


    if (dateEmailSent == "yes") {
       document.getElementById("templates-sent").innerHTML = '1';
       if (document.getElementById("hidden-sent")) {
       document.getElementById("hidden-sent").style.display = "none";
       }
    }

    if (dateReplyReceived == "yes" && (!dateReplyReceivedManual || dateReplyReceivedManual == "no")) {
       document.getElementById("replies-received").innerHTML = '1';
       if (document.getElementById("hidden-reply")) {
       document.getElementById("hidden-reply").style.display = "none";
       }
    } else if (dateReplyReceivedManual == "yes" && (!dateReplyReceived || dateReplyReceived == "no")) {
      document.getElementById("replies-received").innerHTML = '1';
       if (document.getElementById("hidden-reply")) {
       document.getElementById("hidden-reply").style.display = "none";
       }
    } else if (dateReplyReceivedManual == "yes" && dateReplyReceived == "yes") {
      document.getElementById("replies-received").innerHTML = '2';
       if (document.getElementById("hidden-reply")) {
       document.getElementById("hidden-reply").style.display = "none";
       }
    }

    if (localStorage.getItem("reminder-one-sent")) {
       document.getElementById("reminders-sent").innerHTML = '1';
    }

    if (dateEmailSentAdd == "yes") {
       document.getElementById("templates-sent-additional").innerHTML = '1';
       if (document.getElementById("hidden-sent")) {
       document.getElementById("hidden-sent").style.display = "none";
       }
    }

    if (dateReplyReceivedAdd == "yes") {
       document.getElementById("replies-received-add").innerHTML = '1';
       if (document.getElementById("hidden-reply")) {
       document.getElementById("hidden-reply").style.display = "none";
       }
    }

    if (dateReplyReceivedAdd == "yes" && (!dateReplyReceivedManualAdd || dateReplyReceivedManualAdd == "no")) {
       document.getElementById("replies-received-add").innerHTML = '1';
       if (document.getElementById("hidden-reply")) {
       document.getElementById("hidden-reply").style.display = "none";
       }
    } else if (dateReplyReceivedManualAdd == "yes" && (!dateReplyReceivedAdd || dateReplyReceivedAdd == "no")) {
      document.getElementById("replies-received-add").innerHTML = '1';
       if (document.getElementById("hidden-reply")) {
       document.getElementById("hidden-reply").style.display = "none";
       }
    } else if (dateReplyReceivedManualAdd == "yes" && dateReplyReceivedAdd == "yes") {
      document.getElementById("replies-received-add").innerHTML = '2';
       if (document.getElementById("hidden-reply")) {
       document.getElementById("hidden-reply").style.display = "none";
       }
    }

    if (localStorage.getItem("reminder-one-sent-additional")) {
       document.getElementById("reminders-sent-add").innerHTML = '1';
    }


    if (localStorage.getItem("group-email-sent") == "yes" && !localStorage.getItem("has-sent-email-manual")) {
       document.getElementById("templates-sent").innerHTML = '4';
    } else if (localStorage.getItem("group-email-sent") == "yes" && localStorage.getItem("has-sent-email-manual") == "yes") {
       document.getElementById("templates-sent").innerHTML = '5';
    } else if (!localStorage.getItem("group-email-sent") && localStorage.getItem("has-sent-email-manual") == "yes") {
       document.getElementById("templates-sent").innerHTML = '1';
    }

    if (localStorage.getItem("group-email-sent-additional") == "yes" && !localStorage.getItem("has-sent-email-manual-additional")) {
       document.getElementById("templates-sent-additional").innerHTML = '4';
    } else if (localStorage.getItem("group-email-sent-additional") == "yes" && localStorage.getItem("has-sent-email-manual-additional") == "yes") {
       document.getElementById("templates-sent-additional").innerHTML = '5';
    } else if (!localStorage.getItem("group-email-sent-additional") && localStorage.getItem("has-sent-email-manual-additional") == "yes") {
       document.getElementById("templates-sent-additional").innerHTML = '1';
    }

        let requestDate = document.getElementById("request-date");
        let dateRequested = document.getElementById("requested-date");
        let deadlineDate = document.getElementById("deadline-date");
        var monthNames = ["January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"];

        var d = new Date();

        var dayToday = d.getDate();
        var dplus2 = new Date(d.setDate(d.getDate() + 2));
        var monthToday = monthNames[d.getMonth()];
        var yearToday = d.getFullYear();

        requestDate.innerHTML = monthToday + ' ' + yearToday;
        dateRequested.innerHTML = dayToday + ' ' + monthToday + ' ' + yearToday;
        deadlineDate.innerHTML = dplus2.getDate() + ' ' + monthToday + ' ' + yearToday;


</script>

{% endblock %}