{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block navContent %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../homepage">Price concessions homepage</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../request-list">Requests homepage</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../option-page">Options page</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="historical-request">Choose the year</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Choose the year
            </a>
        </p>
    </div>
</nav>

<!--<ol class="nhsuk-breadcrumb__list">-->
<!--    <li class="nhsuk-breadcrumb__item">-->
<!--        <a class="nhsuk-breadcrumb__link" href="/pcp-prototype/request-list">Request-list</a>-->
<!--    </li>-->
<!--</ol>-->
<!--<p class="nhsuk-breadcrumb__back">-->
<!--    <a class="nhsuk-breadcrumb__backlink" href="/pcp-prototype/homepage">-->
<!--        <span class="nhsuk-u-visually-hidden">Home</span>-->
<!--        Home-->
<!--    </a>-->
<!--</p>-->

{% endblock %}

{% block content %}


<div class="nhsuk-width-container ">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <h1><span class="nhsuk-caption-l">
     Historical requests
     <span class="nhsuk-u-visually-hidden">: </span>
   </span>
                Choose the month
            </h1>
            <ul class="nhsuk-grid-row nhsuk-card-group">
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="historical-result">January</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="historical-result">Febuary</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="historical-result">March</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="historical-result">April</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="historical-result">May</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="historical-result">June</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="historical-result">July</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="historical-result">August</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="historical-result">September</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="historical-result">October</a>
                            </h2>

                        </div>
                    </div>

                </li>

                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="historical-result">November</a>
                            </h2>

                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="historical-result">December</a>
                            </h2>

                        </div>
                    </div>

                </li>

            </ul>

        </div>
    </div>
</div>
{% endblock %}