{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection - dropdown table
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="/pcp-prototype-version-3/supplier-area-additional/add-supplier-directory">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to additional supplier directory</a>
</div>

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
        <div class="nhsuk-width-container">

            <h1>Additional  supplier details
            </h1>

            <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>If the supplier is not needed you can <a href="/pcp-prototype-version-3/supplier-area-additional/confirmation-page" title="External website">remove the supplier</a></p>
            </div>

            <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Supplier name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        A. Menarini Farmaceutica Internazionale SRL
                    </dd>

                    <dd class="nhsuk-summary-list__actions">

                        <a class="nhsuk-link nhsuk-link--no-visited-state" href="/pcp-prototype-version-3/supplier-area-additional/edit-new-additional-supplier-name">
                            Edit<span class="nhsuk-u-visually-hidden"> user</span></a>

                    </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Supplier type
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Additional
                    </dd>

                    <dd class="nhsuk-summary-list__actions">

                        <a class="nhsuk-link nhsuk-link--no-visited-state" href="/pcp-prototype-version-3/supplier-area-additional/Additional-supplier-type-select">
                            Edit<span class="nhsuk-u-visually-hidden"> user</span></a>

                    </dd>

                </div>

            </dl>


            <table class="nhsuk-table">
                <caption class="nhsuk-table__caption">Contact details</caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                        Name
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Email
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Status
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Action
                    </th>
                </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">John Smith</td>
                    <td class="nhsuk-table__cell ">john.smith@nhs.net</td>
                    <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Active</strong></td>
                    <td class="nhsuk-table__cell "><a class="nhsuk-link nhsuk-link--no-visited-state" href="/pcp-prototype-version-3/supplier-area-additional/edit-additional-suppliers">
                        Edit or remove<span class="nhsuk-u-visually-hidden"> user</span></a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Ann Other</td>
                    <td class="nhsuk-table__cell ">ann.other@nhs.net</td>
                    <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Active</strong></td>
                    <td class="nhsuk-table__cell "><a class="nhsuk-link nhsuk-link--no-visited-state" href="#">
                        Edit or remove<span class="nhsuk-u-visually-hidden"> user</span></a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Sam Wannelse</td>
                    <td class="nhsuk-table__cell ">sam.wannelse.net</td>
                    <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Inactive</strong></td>
                    <td class="nhsuk-table__cell "><a class="nhsuk-link nhsuk-link--no-visited-state" href="#">
                        Edit or remove
                        <span class="nhsuk-u-visually-hidden"> user</span></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="/pcp-prototype-version-3/supplier-area-additional/add-new-contact-details">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Add new contact</span>
                </a>
            </div>

            <hr aria-hidden="true">

            <h2 Class="nhsuk-u-margin-bottom-5">Supplier notes</h2>
            <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Supplier contact away
    </span>
                </summary>
                <div class="nhsuk-details__text">
                    <ul>
                        <li>Joe Bloggs will be OOO from friday 10th April 2023</li>
                        <li>John Smith will be providing cover till there return 20th April 2023
                            <!--              <a href=>Edit Notes</a>-->
                        </li>
                    </ul>
                    <hr aria-hidden="true">
                    <p>This note was added on the 10th april 2023 by JHM:</p>
                    <div class="nhsuk-action-link">
                        <a class="nhsuk-action-link__link" href="/pcp-prototype-version-3/supplier-area/edit-note-page">
                            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                            </svg>
                            <span class="nhsuk-action-link__text">Edit note</span>
                        </a>
                    </div>
                </div>

            </details>
            <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Awaiting contact details
    </span>
                </summary>
                <div class="nhsuk-details__text">
                    <ul>
                        <li>Joe Bloggs will be forwarding new contact details</li>

                    </ul>
                    <hr aria-hidden="true">
                    <p>This note was added on the 28th January 2023 by SWE:</p>
                    <div class="nhsuk-action-link">
                        <a class="nhsuk-action-link__link" href="/pcp-prototype-version-3/supplier-area/edit-note-page">
                            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                            </svg>
                            <span class="nhsuk-action-link__text">Edit note</span>
                        </a>
                    </div>
                </div>
            </details>

            <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="/pcp-prototype-version-3/supplier-area/add-additional-notes">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Add another note</span>
                </a>
            </div>




        </div>
    </main>


</div>

<script>
    console.log(localStorage);
</script>
{% endblock %}